[2016-08-23 07:34] ljharb commented on #1207
This hook does not yet exist. If I added it, checksum verification would be contained within the internal method that the hook would overwrite, since checksums are tied to the "nodejs.org/dist" installation source.

Sorry for the confusion - I'm no longer suggesting those two steps you restated from https://github.com/creationix/nvm/issues/1207#issuecomment-241638331. I'm now suggesting a totally

[2016-08-23 07:41] tsgan commented on #1207
Then it still needs some changes to nvm.sh.
How do you bypass checking checksum etc in case of tarballs or packages for FreeBSD?
I think it still needs changes in nvm.sh
Please correct me if I'm wrong here.

[2016-08-23 07:44] ljharb commented on #1207
You are correct! This proposal would still require changes to nvm itself - however, those changes wouldn't be FreeBSD-specific, so I'd be happy to make them.

Essentially, in this hypothetical future world, you'd do something like:
`NVM_INTERNAL_INSTALL_COMMAND=install_from_pkg nvm install 4` and then `install_from_pkg v4.5.0 path/to/node/4/directory` would be invoked - and `install_from_pkg` is y

[2016-08-23 14:43] jbergstroem commented on #1207
@ateam-adam Our intention (nodejs core devs) is to have freebsd build nodejs out of the box, with or without shared libraries. I just emailed Bradley about helping out with upstreaming the v8 patches.

[2016-08-23 15:51] ljharb commented on #1207
@jbergstroem once that was set up, how far back could tarballs be generated?

[2016-08-23 17:56] keithamus opened #1208 "Support `lts/*` on Travis"
Hello all the wonderful contributors of nvm! Thank you for all of your excellent work.

Recently @ljharb added the feature of being able to automatically use `lts/<something>` as an alias, e.g. `nvm use lts/argon`. This is really really cool, but as part of the discussion there was some talk about having travis support these kinds of aliases within a `.travis.yml`, e.g.:

[code]

As far as I know,

[2016-08-23 17:57] ljharb commented on #1208
I'm going to make it explicitly support `lts/*` and `lts/foo` rather than falling back on local aliases (since the local aliases don't exist until *after* the first remote call is made). The effect will be the same.

[2016-08-23 18:11] #1208 closed

[2016-08-23 18:22] ljharb commented on #1208
Released in [v0.31.5](https://github.com/creationix/nvm/releases/tag/v0.31.5).

[2016-08-23 19:11] cdelorme opened #1209 "Latest master breaks bashrc"
I am getting this line verbatum in my ~/.bashrc on debian linux:

    \nexport NVM_DIR="/home/vagrant/.nvm"\n[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm\n

[2016-08-23 19:15] ljharb commented on #1209
Whoops, thanks, will fix.

[2016-08-23 20:10] jbergstroem commented on #1207
@ljharb hard to give you a reliable version. I've upstreamed a few freebsd things to v8 across both io.js and node.js. The floating patches right now all looks arm-related; not sure how much testing nvm has done on that even on linux?

[2016-08-23 21:27] gnarf commented on #1209
We are teaching a beginner node class today and we were running into this same problem

Also experienced this on zsh if that makes any difference!

[2016-08-23 21:29] aredridel commented on #1209
The problem is at this line: https://github.com/creationix/nvm/commit/681c81ad30e2e4b4c05da4d7aae0177b187780ce#diff-3fbb47e318cd8802bd325e7da9aaabe8R286

[2016-08-23 21:44] #1209 closed

[2016-08-23 21:45] ljharb commented on #1209
v0.31.6 released. Sorry about that, and thanks @aredridel for the fix!

[2016-08-23 22:53] ateam-adam commented on #1207
@jbergstroem I know this is a lot to ask but I am just trying to gauge: Would this commitment to having FreeBSD compile out of the box remain effectively indefinite in the future? I feel like is a lot to ask, but I do not know how close it is and what those port's patches are for (if they're for ARM, that doesn't really impact me).

My concern is that down the road, motivation for this wanes, an u

[2016-08-23 23:12] aredridel commented on #1209
Sure thing!

[2016-08-24 00:05] ljharb commented on #1207
For `nvm`'s sake, as long as FreeBSD support is on a consistent version range, without any gaps, then it's easy for me to make an "is FreeBSD supported" function.

[2016-08-24 15:01] PeterDaveHello opened #1212 "nvm upgrade failed"
Scenario:
1. nvm originally installed without git support
2. install nvm new version again but now with git on the system

nvm installation will try to clone nvm repository on the already exist path with will fail.

[2016-08-24 16:10] jbergstroem commented on #1207
@ateam-adam: We're getting a bit off topic here, but FreeBSD is part of our [build cluster](https://ci.nodejs.org) meaning we compile and test pretty much everything against it. We don't have a FreeBSD/ARM combo as of yet, but if we get more rpi hardware donated towards that cause we would. FreeBSD support isn't necessarily tied to an interest, rather a collaborative effort to ensure quality.

I r

[2016-08-24 18:08] alangpierce commented on #860
I was able to speed up shell init significantly by running `nvm.sh` with `--no-use` and then just setting the PATH directly to what `nvm use` would have done, like this:

[code]

As far as I can tell, for my simple case, this seems to work just as well as `nvm use` (although it would be good to hear if there's other state that's not being set correctly). Since it hard-codes my default node version

[2016-08-24 21:35] ateam-adam commented on #1207
So just having 6.x work doesn't fit out needs, nor I think many others.  The main use case for NVM for us is to let our devs switch between 0.12.x, 4.x and 6.x without needing separate machines.

@jbergstroem I agree we are very off topic.  Should node should support FreeBSD better? Yes please! :) But right now it does not.  I just downloaded and played with the source to 6.4.0 and it fails to bui

[2016-08-25 01:27] jbergstroem commented on #1207
@ateam-adam if you encounter build failures you should file them at the node repo. They should be against latest versions of either LTS or $head. Please cc me.

[2016-08-25 02:19] awwong1 opened #1215 "Cannot uninstall node v6.0.0"
I'm using OS X El Capitan, 10.11.6.

I can't seem to uninstall or use node v6.0.0 through nvm.

[code]

I ran those two commands but `nvm use v6` still fails.

Additionally, when I try to uninstall v6, this is what happens:

[code]

[2016-08-25 02:21] awwong1 commented on #1215
[code]

[2016-08-25 03:05] ateam-adam commented on #1207
@jbergstroem I can devote resources to this, but would that offer would also apply to 0.12.x?  If that's not the case unfortunately it does not help our situation unless all 3 versions can be fixed and compile directly.  We don't need to go back, just the latest version of each.

Basically unless we can see the latest 0.12.x, 4.x and 6.x compiling without fuss -- such that @ljharb can easily add F

[2016-08-25 05:36] ljharb commented on #1215
@awwong1 ok so the first issue is that you have an npm prefix configured. Open up `~/.npmrc`, and delete any "prefix" lines in it.

Second, please rerun the install command: `curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.4/install.sh | bash` to update to `v0.31.4` which has some extra checking that will likely point out that there's a file permissions issue.

[2016-08-25 05:45] awwong1 commented on #1215
I removed `~/.npmrc` `~/.npm` `~/.nvm` and the relevant lines from my `~/.bash_profile` and reinstalled nvm using the installation script.

Everything appears to be working now! Thanks. 👍

[2016-08-25 05:45] #1215 closed

[2016-08-25 08:00] #1212 closed

[2016-08-25 12:18] jbergstroem commented on #1207
@ateam-adam please ping me on IRC (jbergstroem@freenode) or email (bugs at bergstroem dot nu) if you want to talk more about building node.js on FreeBSD -- I feel like we're out of line wrt this issue.

[2016-08-26 11:52] hedefalk commented on #993
I'm having this problem using drone ci https://github.com/drone/dronehttps://github.com/drone/drone

Drone automatically creates a script with `set -e` on top of my "user commands" so can't really do anything about it other than `|| true`on all nvm commands.

[2016-08-26 11:57] hedefalk opened #1216 "`nvm install 5` fails unless `nvm ls` before"
`nvm install 5` fails unless I previously did a `nvm ls`. So `nvm ls` is obviously not idempotent which is a bit weird?

[code]

If I just add a `nvm ls` before it works:

[code]

[2016-08-26 16:00] ljharb commented on #993
@hedefalk if you can narrow down which commands are failing, and ideally using `set -x` which place they are failing at, please open a new issue for each and I'll tackle them one at a time.

[2016-08-26 17:13] ljharb commented on #1216
Prior to doing an `nvm ls`, can you run `set -ex; nvm install 5.0`?

The `|| true`s are likely masking errors, so it'd be ideal to remove those :-)

[2016-08-26 21:17] rocco commented on #658
haven't seen such a positive and constructive issue thread in a while - good job @ljharb

[2016-08-27 10:00] lukechilds commented on #730
For anyone here using zsh interested in lazy loading I've just added support for lazy loading in `zsh-nvm`: https://github.com/lukechilds/zsh-nvm#lazy-loading

I'm getting about 70x faster startup times (874ms down to 12ms)

[2016-08-28 06:39] nicolas-zozol commented on #855
With MacOS, I had in .bashrc

[code]

Removing the second slash in `/Users/nicorama//.nvm`, it works perfecty

[2016-08-29 08:50] hedefalk commented on #1216
https://gist.github.com/hedefalk/e1e6d1ddc60ae97ac5ea3bffe3f34afb

Sorry, `|| true` because https://github.com/creationix/nvm/issues/993 - basically my build fails on on everything without because `set -e` from surrounding environment.

[2016-08-29 16:16] #1216 closed

[2016-08-29 16:16] ljharb commented on #1216
Thanks, I think that cleared it up.

[2016-08-30 00:29] zhoukai07 commented on #437
Hi I tried on Mac Terminal but it returns the same error. Any idea what could be the reason?

[2016-08-30 03:13] Hollyw00d commented on #437
zhoukai07 can you please comment with the error that Mac Terminal is giving you? Then I will look more into it.

[2016-08-30 06:45] suryaZivame commented on #1164
I am getting similar error
fatal: could not create leading directories of '/home/suryakant/.nvm': Permission denied
Failed to clone nvm repo. Please report this!

[2016-08-30 16:10] ljharb commented on #1164
@suryaZivame what does `nvm debug` and `whoami` say?

[2016-08-31 05:49] ateam-adam commented on #1207
Sorry for the delay in updating but @jbergstroem and I did talk last week over IRC.  The long and short of it is that

- 0.12 does not compile out of the box under FreeBSD, which we'd need.  There is no path to fixing this since it's so close to EoL.
- 4.x and 6.x do compile with minimal environment tweaks I think easily added by NVM (exporting some variables when FreeBSD is detected basically) an

[2016-08-31 06:04] ljharb commented on #1207
Thanks for everyone's diligence!

My proposal is this:
 1. i create an internal `nvm` method that accepts, for example, "destination dir", "version", "binary" or "source"
 1. i listen to an environment variable: if empty/unset, use the previously referred-to method. else, use the function/binary specified.
 1. FreeBSD users can use a package/bash script that simply sets the relevant environment va

[2016-09-02 12:13] metasean opened #1217 "Option to set --lts as default"
To install the latest long term support version the command is:

[code]

If I do a fresh install, then close and reopen my terminal then run: `nvm version`
I get: `none`

[code]

But if I run: `nvm alias default --lts`, `nvm alias default lts/*`, or `nvm alias default lts` then  I get `Unsupported option "--lts".`, `default -> lts/* (-> N/A)`, & `default -> lts (-> N/A)` respectively.

How do I se

[2016-09-02 15:58] ljharb commented on #1217
`nvm alias default lts/*` should do it.

The usability of this should be slightly increased by #1204.

[2016-09-02 16:35] martinwrightinfo opened #1218 "Changed version of node to latest and error log still says I'm using an older version."
I've used NVM to change my node version to the latest.

I've confirmed that it worked by running `npm -v` and `node -v`

[code]

I've tried to install a package and in the error log it's says I'm using an older version of node (v4.4.7) and npm (v2.15.8).

[code]

Does any know why this is happening?

[2016-09-02 16:38] silasb commented on #1218
`sudo` will have an different environment.  Try `sudo -E <cmd>`

[2016-09-02 17:14] ljharb commented on #1218
@martinwrightinfo `nvm` is not meant to EVER be used with `sudo`. Just do `npm install -g`.

[2016-09-02 17:14] #1218 closed

[2016-09-02 19:49] shri3k commented on #877
@nnashok hi, I'm running into somewhat similar issue right now. Were you able to make this work after you remove `-q` from nvm's `curl`?

[2016-09-02 22:35] cameronroe opened #1219 "Can't uninstall global npm package"
I'm trying to uninstall a package with `npm uninstall -g <package>` but it's not removing it from `.nvm/versions/node/v6.0.0/bin/<package>`

[2016-09-02 22:37] ljharb commented on #1219
What's `nvm debug` and `npm root -g` say? When you installed that package, did you use `sudo`? (you never want to use `sudo` with `nvm`)

[2016-09-02 22:38] cameronroe commented on #1219
[code]

[2016-09-02 22:43] ljharb commented on #1219
Try `chown -R "$(whoami)": "$(npm root -g)"` (you may need sudo for it) and then `npm uninstall -g <packagename>` again?

[2016-09-02 22:44] cameronroe commented on #1219
I think it removed it, but the shell didn't update after uninstall.

[2016-09-02 22:45] cameronroe commented on #1219
Now I get this on login: `-bash: /usr/local/Cellar/nvm/0.31.6/nvm.sh: No such file or directory`

[2016-09-02 22:46] ljharb commented on #1219
Ah, "Cellar" - did you previously install `nvm` with homebrew? If so, you may want to remove all of the nvm-related lines from your profile files, and then rerun the install script in the readme.

[2016-09-02 22:47] cameronroe commented on #1219
Yeah, I did though.

[2016-09-02 22:47] ljharb commented on #1219
hmm - that line must exist somewhere, otherwise it wouldn't try to source that file :-/

[2016-09-02 23:32] cameronroe commented on #1219
Okay, so I had some strange configuration because now that I've removed the brew version, I still have a .nvm and it's giving me this when I try to install.

[code]

[2016-09-02 23:35] ljharb commented on #1219
Ah, that's fixed in 68bf93514bdf5d2852ce74819350bed99eb472a6 but not yet released in master. Try `curl -o- https://raw.githubusercontent.com/creationix/nvm/68bf93514bdf5d2852ce74819350bed99eb472a6/install.sh | bash` to work around that for now?

[2016-09-02 23:38] cameronroe commented on #1219
I did that and I get this:

[code]

[2016-09-02 23:40] ljharb commented on #1219
After restarting your terminal?

Can you verify the `nvm`-related lines in one of your profile files, and in which one?

[2016-09-02 23:43] cameronroe commented on #1219
I have a `.bash_profile` with:

[code]

`.bashrc` with:

[code]

[2016-09-02 23:43] cameronroe commented on #1219
`$ which nvm` gives nothing

[2016-09-02 23:44] ljharb commented on #1219
ok so, in bash_profile - remove that `NVM_DIR` line entirely, the one in `.bashrc` is correct. `which nvm` isn't supposed to give anything, because nvm is a shell function and not a binary. `type nvm` should, however.

[2016-09-02 23:45] cameronroe commented on #1219
still nothing

[2016-09-02 23:45] cameronroe commented on #1219
opened a new shell too

[2016-09-02 23:45] cameronroe commented on #1219
I also keep seeing this in new shell windows on login `-bash: /usr/local/Cellar/nvm/0.31.6/nvm.sh: No such file or directory`

[2016-09-02 23:48] ljharb commented on #1219
Can you gist the entire contents of `.bash_profile` and `.bashrc`? Feel free to asterisk out any sensitive parts.

[2016-09-02 23:49] ljharb commented on #1219
Also, make sure to run `brew uninstall nvm`

[2016-09-02 23:51] cameronroe commented on #1219
I did find this `source $(brew --prefix nvm)/nvm.sh`

[2016-09-02 23:53] ljharb commented on #1219
Ah, please remove that line :-)

[2016-09-02 23:54] cameronroe commented on #1219
Ah, okay turned out my `.bashrc` wasn't sourced in my `.bash_profile`

[2016-09-02 23:55] ljharb commented on #1219
that'd do it :-) you definitely want to add that also.

[2016-09-02 23:57] cameronroe commented on #1219
Would this be messing it up in `.bashrc` -> `[ -n "$PS1" ] && source ~/.bash_profile`

[2016-09-02 23:57] ljharb commented on #1219
yes, generally you want bash_profile to source bashrc, not the other way around.

[2016-09-02 23:59] cameronroe commented on #1219
Awesome, got it. Thanks!

[2016-09-02 23:59] ljharb commented on #1219
np, let me know if it's still not all working!

[2016-09-03 00:01] #1219 closed

[2016-09-03 07:44] kimonoki commented on #576
@susan-github  I add source ~/.bashrc to ~/.zshrc file and fixed it.

[2016-09-03 08:14] ljharb commented on #576
@kimonoki you really don't want to do that, since zsh might choke on bash syntax. instead, copy the two nvm-related lines from bashrc to zshrc.

[2016-09-03 08:19] #700 closed

[2016-09-03 08:19] #1188 closed

[2016-09-03 08:19] #1193 closed

[2016-09-03 08:19] ljharb commented on #1053
Closed in #1204.

[2016-09-03 08:20] ljharb commented on #779
Unblocked by #1204.

[2016-09-03 08:23] #1194 closed

[2016-09-03 08:24] #1158 closed

[2016-09-03 08:25] ljharb commented on #1028
This was fixed with 68bf93514bdf5d2852ce74819350bed99eb472a6, which also fixed #1212 and closed #1213.

[2016-09-03 08:25] #1028 closed

[2016-09-03 08:25] ljharb commented on #1009
This is related to #1207.

[2016-09-03 08:26] ljharb commented on #1207
(This is also a duplicate of #130)

[2016-09-03 08:29] ljharb commented on #917
#1070 handled this for LTS aliases, which I think is the primary use case for this.

[2016-09-03 08:29] kimonoki commented on #576
@ljharb  Thanks for reminding that I was about to do that but somehow end in adding the source line. Now it's fine.

[2016-09-03 08:29] ljharb commented on #900
Related to #130 and #1207.

[2016-09-03 08:30] ljharb commented on #759
Related to #673.

[2016-09-03 08:32] ljharb commented on #72
Finally, this has been achieved in #1204.

If the file exists, and the checksum can be computed, and matches, it is used - otherwise it's downloaded from the server. `nvm cache clear` removes all cached tarballs.

[2016-09-03 08:32] #72 closed

[2016-09-03 13:35] TheAlphaNerd commented on #779
🎉🎉🎉

On Sat, Sep 3, 2016, 4:20 AM Jordan Harband <notifications@github.com>
wrote:

[2016-09-05 10:18] filyps98 opened #1220 "Failed to download 'https://raw.githubusercontent.com/creationix/nvm/v0.31.7/nvm.sh'"
Hi everyone, I'm trying to install nvm on debian jessie, but I get this error`Failed to download 'https://raw.githubusercontent.com/creationix/nvm/v0.31.7/nvm.sh'`. I know that nvm.sh is an essential part of nvm; indeed, when I run nvm -v the terminal says `-bash: /root/.nvm/nvm.sh: No such file or directory.` What can I do to solve this problem? I've already installed build-essential and all the

[2016-09-05 15:57] ljharb commented on #1220
First thing is, you don't want to install `nvm` as root - it's per-user, so you'll want to create a restricted user account on which to run node, and install `nvm` there.

Second, this seems like a network error - it might be a fluke if github was having trouble. Otherwise I'm not sure why you'd be able to download install.sh but not nvm.sh. Can you provide the exact command you ran, and the full

[2016-09-05 18:54] filyps98 commented on #1220
How can I install nvm without being a root? Sorry, I've just started using the terminal (the linux one). `
root@OrangePI:~# curl -k -o- https://raw.githubusercontent.com/creationix/nvm/v0.31.7/install.sh | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10007  100 10007    0     0

[2016-09-05 23:20] ljharb commented on #1220
@filyps98 you can install `nvm` as any user, since by default it installs under `$HOME`, which every user should have full control of.

That explains it, however - if you have problems with SSL certifications, `nvm` simply isn't going to work. You need to fix your system's SSL certificate authorities such that the first `curl` command works without `-k`.

[2016-09-05 23:20] #1220 closed

[2016-09-05 23:21] ljharb commented on #1220
Please follow up here if after fixing that, you still have trouble!

[2016-09-06 14:54] franciscocorrales commented on #576
For the new ones like myself.

If you edit all those files, and still it doesn't work, you may need to run:
`nvm install node`

[2016-09-07 01:13] Tsuki commented on #782
For my case, it try to minimal the components init when starting terminal.
I have add `alias nvminit='. "$(brew --prefix nvm)/nvm.sh"'` as my workaround.

[2016-09-07 01:24] ljharb commented on #782
@Tsuki there's no need to do that. just add `--no-use` to the line that does the sourcing, and there's no need to defer it.

[2016-09-07 01:49] Tsuki commented on #782
@ljharb not really know what you mean. Where to add --no-use?

[2016-09-07 02:41] ljharb commented on #782
@Tsuki `. "$(brew --prefix nvm)/nvm.sh" --no-use` - although I highly discourage using brew at all, as it's completely unsupported.

[2016-09-07 05:06] Tsuki commented on #782
@ljharb Thank you, but it still cost around 0.35s. Can it pre-config node like jenv or rbenv with shims.
So that need not to load nvm.sh every time.

[2016-09-08 20:05] chovy commented on #298
can we get an `nvm uninstall` command?

[2016-09-08 21:16] ljharb commented on #298
@chovy that would require modifying one or more of your profile files, otherwise it'd just be `rm -rf "$NVM_DIR"` - that's pretty destructive, and not something I'd want to encourage.

Disk space is cheap, so the best way to uninstall it is to simply disable it by removing the sourcing lines from your profile files - which has to be done manually.

[2016-09-09 01:18] parasyte commented on #539
For anyone who comes across this in the future;

`nvm` kills my productivity because bash takes two orders of magnitude longer to create a new shell when a default alias exists. As a workaround, I added this hack to my `.bash_profile` after `nvm.sh` is loaded:

[code]

Delete the default alias and `.nvmrc`; Shell creation is fast again, and I still have a default node through the alias hack. First

[2016-09-09 04:17] ljharb commented on #539
@parasyte as has been said in this thread and others, add `--no-use` to the end of your profile line that sources `nvm.sh` and it should avoid the attempt to use the default alias.

[2016-09-09 04:43] parasyte commented on #539
@ljharb That's all fine and good, but really inconvenient if you still want to use node.

[2016-09-09 05:04] ljharb commented on #539
@parasyte understood; and your alias is fine too - i'm mostly pointing out that you don't need to remove your default alias, and you can do `alias node='nvm use; unalias node; node $@'`.

[2016-09-09 05:33] parasyte commented on #539
Gotcha. That is a nice little enhancement. I misunderstood that you were providing a tip. 😃

I guess I'll have to keep the alias, and stay hopeful that one day the startup time will get better! Cheers.

[2016-09-09 17:45] jordancardwell commented on #658
FWIW

I had to delete `.nvm/current`, an alias to the version mine was stuck on.

_pretty sure this was a side effect of having installed via brew._

I uninstalled via brew and installed via the `README`... that `current` alias, however, was still hanging around.. deleting that resolved it.

also kudos @ljharb for being helpful AF

[2016-09-09 17:47] ljharb commented on #658
That `current` alias is from an older version of nvm - by default now, it's not created at all, unless an env var is set.

[2016-09-10 19:02] msafi commented on #782
`nvm` is also causing my shell to be slow. Yes, I'm using oh-my-zsh. Happy to provide any additional information.

For now I'm using @Tsuki's `nvminit` solution like this:

[code]

Pretty good as a workaround...

[2016-09-10 19:44] ljharb commented on #782
@msafi if you add `--no-use` after `. "$NVM_DIR/nvm.sh"'`, is it still slow?

[2016-09-10 19:52] msafi commented on #782
@ljharb for some reason that didn't work for me when I tried it earlier. Now it works, and it makes it faster but unfortunately it's still slower than deferring nvm initialization with `nvminit`

[2016-09-10 20:03] msafi commented on #782
Can `nvm` initialization be run in a background process without interrupting the user? (just a thought, I don't know much about shells)

[2016-09-10 20:04] ljharb commented on #782
Not that I know of - it needs to be sourced in the current shell session.

[2016-09-10 21:05] msafi commented on #782
Oh ,turns out if I defer `nvm` initialization, my global Node CLI commands don't work until I `nvminit`, so I guess `--no-use` is the best solution for now.

[2016-09-11 21:54] QinMing commented on #782
I made my zsh load 0.8 seconds faster by loading nvm **when "nvm", "npm" or "node" is used for the first time**. Check out my Gist
https://gist.github.com/QinMing/364774610afc0e06cc223b467abe83c0#file-zshrc-L15-L37

[2016-09-11 21:59] ljharb commented on #782
@QinMing as has been stated previously, that won't work for all the other commands you might have in the default version of node (under `npm ls -g --depth=0`).

[2016-09-12 10:41] anowlcalledjosh opened #1224 "'nvm is not compatible with the npm config "prefix" option' message in every shell"
Every time I open a shell (I have `default` aliased to `node`), the following message is printed:

[code]

I don't understand why this appears, as I don't have node installed globally and doing `sudo find / -name '*npmrc*'` doesn't return anything except the man pages for npm.

After doing `nvm use --delete-prefix v4.5.0 --silent`, `npm config ls -l | grep prefix` prints `prefix = "/home/josh/.loc

[2016-09-12 18:24] ljharb commented on #1224
What does `nvm debug` print out? It looks like your `NVM_DIR` is not $HOME, but is inside `$HOME/.local/share/nvm`?

[2016-09-12 20:53] anowlcalledjosh commented on #1224
[code]

I set my `$NVM_DIR` to `.local/share/nvm` on install.

I just tried reinstalling without specifying `$NVM_DIR`, and it seems to work - I got a message from `nvm install --lts` saying `nvm_ensure_default_set: a version is required`, but I ran `nvm alias default node` and it all appears to work.

It actually looks like the problem occurs if `$NVM_DIR` is not an absolute path; setting it to `

[2016-09-12 21:02] ljharb commented on #1224
yes, that's absolutely correct - if it's a relative path then nvm would work or not based on your current directory.

[2016-09-12 21:02] #1224 closed

[2016-09-14 12:58] marcusadair commented on #1124
Startup is slow for me too. El Capitan with version 0.31.7.

I was also using brew, but saw the advice here and installed it directly and compared. It actually did get faster, but it's still the slowest thing in my startup by far, so here's some extra detail from zsh's profiler in case it helps.

- The `use-nvm` line is overall time, it just sources nvm.sh. (I put it in a function to load on deman

[2016-09-14 19:29] neomerx opened #1226 "Fresh install has 1 zillion tiny files"
Well, more than 66K in `~/.nvm` folder. Command `cd ~/.nvm && git gc --agressive` should be added to install script in order to reduce it to 3,663.

Such amount of small files slows down disk search/backups/copy/etc.

[2016-09-14 19:31] ljharb commented on #1226
Tiny files inside `.git`?

[2016-09-14 19:32] neomerx commented on #1226
Sorry I already removed them :smile: It should be git history I think.

[2016-09-14 19:35] ljharb commented on #1226
This seems like a reasonable step to add.

[2016-09-14 20:14] MichaelJCole opened #1227 "`sort` command not found"
Hi, I'm getting this error:

[code]

From this script:

[code]

Any suggestions?

[2016-09-14 20:19] ljharb commented on #1227
What does `nvm debug` output? `sort` is part of POSIX, so it should be available.

[2016-09-14 21:11] neomerx commented on #1226
I'm not familiar with the project but it might require just 1 line in [install_nvm_from_git function](https://github.com/creationix/nvm/blob/master/install.sh#L66) just right before the `return`. Something like

[code]

[2016-09-14 21:34] ljharb commented on #1226
Agreed - provided that `git gc --aggressive` works down to v1.5.5 :-)

[2016-09-15 00:54] MichaelJCole commented on #1227
Hey there, I'm on Mint linux (ubuntu 14).

Yes, it is available - see the `which sort` output -> /usr/bin/sort

[2016-09-15 00:55] ljharb commented on #1227
What about `type sort`, and `command sort`?

[2016-09-15 00:59] MichaelJCole commented on #1227
[code]

command sort needed to be ctrl-c'd

[2016-09-15 01:05] MichaelJCole commented on #1227
I'm using version v0.30.1

I tried:
[code]

But it didn't help :-/

[2016-09-15 01:17] MichaelJCole commented on #1227
So I found a work around.  This code was in a called script.

[code]

Then the error happened in
[code]

But if I moved the `nvm install` to the outer script it works:

[code]
and
[code]

Anyways, thanks for nvm.  It's cool.

[2016-09-15 02:05] ljharb commented on #1227
Glad you figured it out - not sure why it wasn't working :-/

[2016-09-15 02:05] #1227 closed

[2016-09-15 14:39] MichaelJCole commented on #1227
I'm crap at bash, but thinking about it, the environment wasn't getting passed to nvm (PATH to sort).

So probably changing `../../deploy-some-apps.sh` to `source ../../deploy-some-apps.sh` would have fixed it.

[2016-09-16 08:56] dw72 opened #1228 "Problem uninstalling specific node version"
I installed node v6.6.0 and want to uninstall older one v.6.5.0 but have problem:

[code]

[2016-09-16 20:36] kingram6865 opened #1229 "Cannot add versions above v0.11.11: -> CHECK(cpu.has_sse2()) failed"
Starting with node v0.11.12, v0.11.13 and v0.11.14 attempts to use node results in core dump,  any attempts to install versions higher than v0.11.14 results in this error:

[code]
=======================================
Apparently the fix is this:
./configure --dest-cpu=x87

From: [Google search for an answer](http://grokbase.com/t/gg/nodejs/154f7kw65n/fatal-error-check-cpu-has-sse2-failed)

=====

[2016-09-16 21:21] ljharb commented on #1228
hm - what's the output of `nvm debug`, and what are the contents of `~/.nvm/versions/node/v6.5.0/`?

[2016-09-16 21:51] ljharb commented on #1229
Note that `0.11` is both unstable and incredibly ancient - you want to be on node `4` or `6`.

`nvm install -s node` will pass through any extra arguments you provide to the installation process, like `--without-ssl`. I'm not sure which arguments you'd need to pass to resolve this issue though.

[2016-09-16 23:07] kingram6865 commented on #1229
Yeah, I am painfully out of date on a lot of stuff. Still getting up to speed on JavaScript and node so as I encounter new projects to try, I am running into the limitations.

So in my case it looks like the compile option is `--dest-cpu=x86` so the proper command is
`nvm install -s 4.xx --dest-cpu=x87 ` ?

Though I need glibc 4.8 and I only have 4.6...which means I need to upgrade my debian, whic

[2016-09-16 23:09] #1229 closed

[2016-09-17 00:53] PeterDaveHello commented on #1226
PR sent.

[2016-09-17 03:56] yjerem commented on #782
For me it takes 2-3 seconds for zsh to start, and it's because of pkgfile's command-not-found plugin. The command-not-found plugin causes `nvm.sh` to run the `pkgfile` command 157 times, for some reason. oh-my-zsh comes with a [similar plugin](https://github.com/robbyrussell/oh-my-zsh/blob/master/plugins/command-not-found/command-not-found.plugin.zsh) that makes use of `command_not_found_handler()

[2016-09-17 04:05] msafi commented on #782
@yjerem I just tried that. I put the `nvm` init script at the very top. Still slow, unfortunately.

[2016-09-17 04:55] PeterDaveHello opened #1232 "Failed to install with git v1.6.2/1.5.5"
[code]

Actually this problem also exist on the older git versions like v1.5.5, here are the cloning error message of v1.6.2 and v1.5.5:
[code]
[code]

I found two workaround methods here.

1. **Use git protocol instead of https.**
Use git protocol will work properly, and even faster, however, there may be some firewall issues, it may not be so portable as network/system admin may let http/https g

[2016-09-17 05:03] ljharb commented on #1232
Thanks! I think I'm fine with the second solution, since it's documenting reality, and nobody has complained. Let's stick with 1.7.9.5 (and let's improve the readme documentation of same, since it's kind of buried right now).

[2016-09-17 05:16] PeterDaveHello commented on #1232
As we actually don't have problem v1.7 right now, I think we can ask for v1.7 as minimum and recommend v1.7.9.5, PR sent here: #1233.

[2016-09-17 05:23] #1232 closed

[2016-09-17 05:35] #1226 closed

[2016-09-17 07:53] dw72 commented on #1228
nvm debug:
[code]
 and content of the v6.5.0:
[code]

If you need something more please write :)

[2016-09-17 16:17] ljharb commented on #1228
Since you're using `zsh`, what's the output of `setopt`? Are you using oh-my-zsh?

[2016-09-17 20:41] rightaway commented on #964
I also think it would would be very useful to have in the readme as it was confusing me for a while.

[2016-09-17 20:42] rightaway commented on #1091
The script in the first message is useful, thanks.

[2016-09-18 08:37] Robinlemon opened #1235 "NVM Not installing mode correctly on Ubuntu 14.04"
NOTE: Ubuntu 14.04; Same issue 6.5.0

So I've installed node js 6.6.0 via npm, typing 'which node' revealed it's path.

I relogged and got this message:

nvm is not compatible with the npm config "prefix" option: currently set to "/home/robin/.nvm/versions/node/v6.6.0"
Run `nvm use --delete-prefix v6.6.0 --silent` to unset it.

Typing 'which node' now reveals nothing, using command -v nvm returns

[2016-09-18 08:47] ljharb commented on #1235
@Robinlemon your issue is the double slashes in the second-to-last line, that's defining `NVM_DIR`. Try making it only be one slash?

[2016-09-18 08:48] Robinlemon commented on #1235
@ljharb Thanks, I'll try it

[2016-09-18 08:49] Kays opened #1236 "How to remove "created globally in function"?"
I installed nvm using `wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0.32.0/install.sh | bash` and after closing and re-opening my terminal, I get the following text every time I open my terminal:

[code]

I am using zsh if it matters. Thanks!

[2016-09-18 08:53] ljharb commented on #1236
@Kays thanks for the report!

It almost certainly does matter :-) what's the output of `nvm debug` and `setopt`?

`NPM_CONFIG_LOGLEVEL` is only set as an override to an `npm` command - `NPM_CONFIG_LOGLEVEL=warn npm config delete prefix`.

The `EXIT_CODE` one I can't seem to locate.

[2016-09-18 08:53] ljharb commented on #1236
Also, are you using oh-my-zsh?

[2016-09-18 12:20] adomenech73 opened #1237 "Used with Debian aarch64 gets wrong node tar URL"
It tries to download node from https://nodejs.org/dist/v4.0.0/node-v4.0.0-linux-aarch64.tar.gz instead of https://nodejs.org/dist/v4.0.0/node-v4.0.0-linux-arm64.tar.gz , generating a   "gzip: stdin: not in gzip format" error

[2016-09-18 17:06] Robinlemon commented on #1235
@ljharb Yep, worked =)

[2016-09-18 17:07] #1235 closed

[2016-09-18 18:31] ljharb commented on #1237
What does `nvm debug` and `nvm_get_arch` output?

[2016-09-18 20:07] Kays commented on #1236
`nvm debug`
[code]

`setopt`
$> setopt
autocd
noautoparamkeys
autopushd
nobeep
nobgnice
braceccl
cbases
chasedots
chaselinks
completealiases
completeinword
correct
cprecedences
extendedglob
noflowcontrol
noglobalexport
noglobalrcs
globdots
globsubst
nohistbeep
histfcntllock
histfindnodups
histignorealldups
histignoredups
histignorespace
histnostore
histsavenodups
histsubstpattern
interactive
nolis

[2016-09-18 20:22] ljharb commented on #1236
The double slashes in `which node: $NVM_DIR/versions/node/v6.6.0//bin/node` are concerning.

My `setopt` list is:
[code]
so it's likely one of the extra ones you've enabled that's causing the problem.

Honestly the best would be to do a binary search - disable the first half, then the last half, then the middle half, etc, until you can narrow down which options cause the problem. At that point I'l

[2016-09-18 20:29] Kays commented on #1236
So I went through all the options and it looks like only `warncreateglobal` is triggering it for me. It's quiet if I turned it off though but it may be useful to have it around?

[2016-09-18 20:31] ljharb commented on #1236
Thanks, that's enough to reproduce it.

It's definitely safe to ignore, and it seems 256e75c fixed one of them, but I'll try to get rid of this other one too.

[2016-09-18 20:52] rightaway opened #1238 "Using the system node as default"
I've done `nvm alias default system`, and doing `nvm use system` shows `Now using system version of node: v6.5.0 (npm v3.10.6)`. But if I do `nvm exec system node app.js` I get an error:

[code]

What's the correct way to use the system node as the default? (I only switch to nvm versions of node when I'm in a directory with an .nvmrc.)

[2016-09-18 21:04] ljharb commented on #1238
It sounds like you're saying having `default` aliased to `system` works fine, except with `nvm exec` (and presumably `nvm run`)?

[2016-09-18 21:19] rightaway commented on #1238
That's right. Both exec and run are failing. Other things seem to work alright, though I haven't tested much of yet but will be doing so.

Btw what exactly is the 'default' node, is it what's used anytime you're not in a directory with an .nvmrc? And sometimes I see people aliasing things to `node` rather than a particular version, what exactly does that do?

[2016-09-19 00:31] ljharb commented on #1238
In `nvm`, `node` is just a default alias that always points to the latest version of node (`nvm alias` will print out the default aliases as well as your own).

If you don't use an `.nvmrc` anywhere, `default` is indeed what `nvm` auto-uses upon being sourced, ie in a new shell).

[2016-09-19 01:45] #1236 closed

[2016-09-19 04:16] ljharb commented on #1236
k, found and fixed both. The next release will remove these warnings for you.

[2016-09-19 06:32] Kays commented on #1236
Thank you very much!

[2016-09-19 06:51] dw72 commented on #1228
Yes I use zsh, and some plugins of oh-my-zsh with zplug... my zsh config is here:
https://github.com/dw72/dotfiles/tree/master/zsh

There is setopt output:
[code]

[2016-09-19 07:01] rightaway commented on #1238
With regards to npm run/exec not working with system, is there any workaround I can use now that would let me access the system node while I'm in a folder with an .nvmrc, without having to leave that folder first? For example if I do `npm list -g` to show global packages for the system node it shows me global packages for the current nvm node. Same if I replace `npm` in that command with `/usr/bin

[2016-09-19 07:30] ljharb commented on #1228
My stock `zsh` `setopt` is:
[code]

It would help if you could help figure out which zsh option(s) is causing the issue, by disabling the first half, then the second half, then the middle half. :-)

[2016-09-19 07:30] ljharb commented on #1238
You can always `nvm use system`, run your command, and then `nvm use` again to restore the folder's `.nvmrc` settings.

[2016-09-19 08:26] dw72 commented on #1228
Ok I do this when i return home next week...

[2016-09-19 09:37] mingxian commented on #1228
@ljharb Hi, and I got another problem  when running “nvm uninstall v6.4.0” (or any other version) .The bash seems to be suspended, no reply. I try to run with "--verbose", but no messages.

[2016-09-19 15:51] adomenech73 commented on #1237
- nvm debug

[code]
- nvm_get_arch
[code]

In fact I think, this last output is the key of the problem, because node dist package is labeled as arm64. It's like line 1472 is not effective and is taking NVM_ARCH="$HOST_ARCH" instead

Also, I have to say that I'm running that on docker and it can be affecting in some way, but as you seen nvm_get_arch seems correct to have expected output.

[2016-09-19 17:38] ljharb commented on #1237
hm, can you also provide the output of `echo "|$(nvm_get_os)|"` and `echo "|$(command uname -m)|"`?

[2016-09-19 17:54] ljharb commented on #1228
@mingxian can you file a separate issue for that, along with `nvm debug` output, and also, `set -x; nvm uninstall v6.4.0` output in a gist?

[2016-09-19 20:18] egoens commented on #576
@franciscocorrales Thanks for posting. That was my missing step. All is well now.

[2016-09-20 05:32] mingxian commented on #1228
@ljharb  Hi，I try  to use set -x;nvm uninstall v6.4.0, after about 20min , bash crashed.  cannot get some gist.

nvm debug:

nvm --version: v0.32.0
$SHELL: /bin/bash
$HOME: /Users/mx
$NVM_DIR: '$HOME/.nvm'
$PREFIX: ''
$NPM_CONFIG_PREFIX: ''
nvm current: v6.5.0
which node: $NVM_DIR/versions/node/v6.5.0/bin/node
which iojs:
which npm: $NVM_DIR/versions/node/v6.5.0/bin/npm
npm config get prefix: $NVM

[2016-09-20 07:00] ljharb commented on #1228
I'm not sure what `pnpm` is - but it sounds like you're saying it's all resolved?

[2016-09-20 08:07] mingxian commented on #1228
@ljharb yeah， it has been resolved since I deleted the dir .  Thanks.

[2016-09-20 15:08] monolithed commented on #304
@ljharb, is there any progress on this issue?

[2016-09-20 15:48] adomenech73 commented on #1237
- echo "|$(nvm_get_os)|"

[code]

- echo "|$(command uname -m)|"

[code]

[2016-09-20 15:50] ljharb commented on #304
@monolithed at the moment, tha latest version of nvm on npm simply throws an error when you try to use or install it, directing you to http://nvm.sh.

After #400 is done, I'll look into replacing it with a postinstall script that runs the curl install script for you.

[2016-09-20 16:13] ljharb commented on #1237
OK - then can you provide the full output (in a gist, because it will be large) of `set -x; nvm install 4.0.0`?

[2016-09-20 16:52] saywow opened #1239 "Is it required to set NODE_PATH using NVM to manage multiple Node.js version ?"
We ran into a funny issue when they do npm install -g mymodule.
They got into --Cannot find module 'os-tmpdir' when they try to execute the mymodule.
This issue is pretty random.

After they set NODE_PATH, looks like that error disappear.
However, mymodule does not seem to behave properly , some commands are not recognized.
We have tried different npm versions. npm 3.10.6
Trying to see if it is a

[2016-09-20 17:02] adomenech73 commented on #1237
https://gist.github.com/adomenech73/af5213a1a19f0f43ca304f745eb7c38a

[2016-09-20 17:10] ljharb commented on #1239
`NODE_PATH` is deprecated and should never be used.

What version of node are you using? What does `nvm debug` output?

[2016-09-20 17:11] ljharb commented on #1237
What does `nvm --version` output? I think perhaps you want to update to the latest, and that will fix your problem.

[2016-09-20 17:42] adomenech73 commented on #1237
Totally true, I didn't realize I had v0.29.0 harcoded on Dockerfile
Now it's installing just fine !!

[2016-09-20 17:42] #1237 closed

[2016-09-21 03:56] nionis commented on #1054
nvm works fine for me, however it is exremely slow

[2016-09-21 03:58] ljharb commented on #1054
@nionis if you can file a separate issue that narrows down which parts of `nvm` are slow on BashOnWindows, that would be very helpful.

[2016-09-21 05:02] donaldpipowitch commented on #1054
What is the state of this issue? It is open, but several people say that it works now.

[2016-09-21 06:05] ljharb commented on #1054
Good call, closing.

Please file separate issues if you have any problems on BashOnWindows!

[2016-09-21 06:05] #1054 closed

[2016-09-21 06:21] donaldpipowitch commented on #1054
Cool, thanks!

[2016-09-21 21:34] sghiassy commented on #1164
This problem occurred to me as well. The problem was that I had imported my previous `.bash_profile` from my old machine. In it the file, I had `export NVM_DIR="/Users/sghiassy/.nvm"`. On my new machine, my home directory was `/Users/shaheen`, and the conflicting user directory was causing the problem

The solution was to change the export to `export NVM_DIR="~/.nvm"`

[2016-09-21 21:37] danzimm commented on #1164
Sorry for going dark - I can confirm the same thing that happened to @sghiassy happened to me. It looks like the nvm setup automatically adds `export NVM_DIR="/path/to/home/.nvm"` to your `.bashrc`. It seems like it should add `export NVM_DIR="$HOME/.nvm"` instead (it might be that `$HOME` isn't being escaped when that line is added and thus is being expanded at the time of setup).

[2016-09-21 21:40] ljharb commented on #1164
The problem is that we need the fully expanded path for the install script, so we'd need to parse out `$HOME` later in order to actually add that literal text into the profile file.

[2016-09-22 03:33] p2227 opened #1241 "support strict-ssl-false param?"
I can't access the internet without the proxy in my company.
when I use `nvm` to install nodejs ,it always accesss the internet with https and cause the SSL certificate problem.
NPM is allow to set strict-ssl=false  in .npmrc to support it .
does NVM support this ?

[2016-09-22 04:35] ljharb commented on #1241
Currently we use `-q` on our `curl` commands to specifically ignore any `curlrc` settings.

I think this is a duplicate of #877, but since that's closed, I'll leave this open.

Essentially I can think of a few solutions here: either add passthrough support for this specific curl command, or, add a flag that disables `-q` so that it inherits your `~/.curlrc` settings (which should contain the setti

[2016-09-22 20:59] peteringraham commented on #855
I've got this problem in OS X El Capitan, 10.11.6 .  The error message doesn't appear to be fixed even on a "temporary" basis via the suggested fixes.  I foolishly installed some node version globally while trying to fix this, and also foolishly upgraded npm once in an attempt to fix this, but ran into an entirely different npm bug ( https://github.com/npm/npm/issues/13918 , if you're curious ) be

[2016-09-23 00:24] ljharb commented on #855
@peteringraham in your case, do you have a "prefix" line in `~/.npmrc`, or anything in `env` that contains "prefix" (any capitalization)?

[2016-09-23 08:12] p2227 commented on #1241
error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed

[2016-09-23 10:45] ljharb commented on #1241
@p2227 so, separately, you'll want to create a `~/.curlrc` file that has `insecure` ( http://unix.stackexchange.com/a/109649 ) which should make that curl command work.

It still won't likely make `nvm ls-remote` work, but it would be a starting point for the latter solution.

[2016-09-23 13:39] p2227 commented on #1241
thks. now `curl --verbose https://nodejs.org/dist/` works
but `nvm ls-remote` get
`N/A`

[2016-09-23 17:28] mkscrg opened #1242 "NVM is slow (> 650ms)"
I find myself running `nvm unalias default` after every `nvm install`, since it makes new shell creation so much faster. Here it is, with `time source ~/.nvm/nvm.sh` in `~/.bash_profile`:

After `nvm alias default node`:
![nvm_slow](https://cloud.githubusercontent.com/assets/471342/18795147/f8938b2a-8177-11e6-8131-edecd70fa26b.gif)

After `nvm unalias default`:
![nvm_fast](https://cloud.githubuser

[2016-09-23 17:30] ljharb commented on #1242
You can avoid the need to unalias by adding `--no-use` on the end of the line in your profile that does `. "$NVM_DIR/nvm.sh"`.

There's two main things that make it slow right now - one is the `npm config get prefix` call, which I'm not sure how to speed up since that depends on `npm` (and there's a litany of ways npm can locate that prefix) - the other is locating the default alias.

I'd start by

[2016-09-23 17:36] mkscrg commented on #1242
Aha! `--no-use` is nice.

I'll take a look and report back 👍

[2016-09-23 18:13] peteringraham commented on #855
@ljharb : Doesn't seem like it.

[code]

Didn't see anything on manual inspection either.

[2016-09-23 18:14] ljharb commented on #855
Also PREFIX env vars?

[2016-09-23 18:18] peteringraham commented on #855
@ljharb : Nope.  (Not from manual inspection of env, and not from grep -i .)

There are the nvm debug values above, which are
$PREFIX: ''
$NPM_CONFIG_PREFIX: ''
, but to my knowledge that should be expected & fine, right?

[2016-09-23 18:24] peteringraham commented on #855
One other quick comment if it's relevant: this is in bash, not oh-my-zsh.  (I assume this bug is covering the error in general and that it isn't zsh specific, which would be weird.)

[2016-09-23 21:24] ljharb commented on #855
@peteringraham yes, if those values are empty that's fine.

I think it would help if you filed a separate issue - this one is actually a combination of multiple problems that lead to this same error.

[2016-09-24 21:58] saywow commented on #1239
node 4.5 will provide nvm soon tx

[2016-09-24 23:13] artlawry commented on #1227
getting this in v0.32.0 as well. Is there a v0.32.1 coming with this fix in tow?

[2016-09-25 00:25] ljharb commented on #1227
@artlawry there's no fix yet, since we're still not sure what the problem was. What's your `nvm debug` output, as well as `which sort`?

[2016-09-25 20:42] artlawry commented on #1227
This is all on a MacBook Air recently restored to factory and upgraded to Sierra - I'm unsure if this is related to Sierra as I had installed nvm and autoenv a good deal ago on El Capitan before this.

I'm using autoenv (runs nvm use on cd), digging into what the actual nvm command it executes is

[code]

here's proof that v5.7.1 is on my system:

[code]

Debug information:

[code]

[code]

[code]

[2016-09-25 22:32] ljharb commented on #1227
Hmm, I haven't tested on Sierra yet since I'm still on El Cap everywhere.

I don't understand why `command sort` wouldn't be the same as `sort` for you, since you have no aliases or function overrides. Since this is likely OS-related, can you file a separate issue with all the same debug output?

[2016-09-26 12:37] haoranw opened #1243 "when using nvm,How to move global modules to another node version"
some global modules were install in the directory of current node version,for example 'nvm/node/v6.5.0/node_modules'.If I change to  version v6.6.0,some global modules can't work.

[2016-09-26 13:03] artlawry commented on #1227
will do

[2016-09-26 13:06] artlawry opened #1244 "sort command not found (may be OSX Sierra env related)"
This is all on a MacBook Air recently restored to factory and upgraded to Sierra - I'm unsure if this is related to Sierra as I had installed nvm and autoenv a good deal ago on El Capitan before this. It may or may not be related to https://github.com/creationix/nvm/issues/1227.

I'm using autoenv (runs nvm use on cd), digging into what the actual nvm command it executes is

[code]

here's proof t

[2016-09-26 13:19] dw72 commented on #1228
After setting ```nonomatch``` option uninstall is working ok. Now I have:

[code]

[2016-09-26 13:27] akz92 commented on #782
The [zsh-nvm](https://github.com/lukechilds/zsh-nvm) supports lazy load and solved this issue for me. My load time dropped from 2.2s to 0.8s.

[2016-09-26 14:22] TheAlphaNerd commented on #1243
@haoranw you can find the answer in the `nvm` docs

https://github.com/creationix/nvm#migrating-global-packages-while-installing

[2016-09-26 15:00] peteringraham opened #1245 "NVM is not compatible with the npm config "prefix" option warning (OS X)"
Split off from https://github.com/creationix/nvm/issues/855  ; see that issue for a similar problem.

This is in OS X El Capitan, 10.11.6 .  This error appears on starting a new shell:

[code]

With the usual command in the .bashrc file:
[code]

Running either or both of the suggested fixes don't appear to do anything, though.

Note: I foolishly installed some node version globally while trying to

[2016-09-26 15:01] peteringraham commented on #855
@ljharb: Filed https://github.com/creationix/nvm/issues/1245 for my symptoms.

[2016-09-26 15:38] #1243 closed

[2016-09-26 15:48] evilebottnawi opened #1246 "Add ENV `NVM_INSTALL_ON_USE_FLAG`"
Install nodejs version automatically when i use `nvm use some-version` and version not exist.

[2016-09-26 15:58] ljharb commented on #1246
I think the command you're looking for is `nvm install`, which installs if needed and then does `nvm use`.

[2016-09-26 15:58] #1246 closed

[2016-09-26 16:06] evilebottnawi commented on #1246
@ljharb `rvm` have same feature `rvm_install_on_use_flag`. This is convenient when you do a single image with `rvm` and then use only `rvm use some-version` without `install`. Especially if you use CI/CD.

[2016-09-26 17:37] ljharb commented on #1246
Right - I'm suggesting that in that image, you do `nvm install some-version` instead of `nvm use-some-version`.

[2016-09-26 17:43] ljharb commented on #1245
(also per https://github.com/creationix/nvm/issues/855#issuecomment-249264066, you don't have any "prefix" in any `.npmrc` files, and per https://github.com/creationix/nvm/issues/855#issuecomment-249265561, you don't have any case-insensitive form of "prefix" in `env`)

I assume that `nvm ls`, after the `nvm use`, has the `->` pointing at "v5.7.1"?

Do you have anything in `~/.bash_profile` and/or

[2016-09-26 18:24] ljharb commented on #1244
So it looks like `nvm use` is unable to find `sort` only when run by autoenv?

[2016-09-26 20:10] artlawry commented on #1244
Those are the only two use cases I have currently, and in terms of those two use-cases the statement is correct.

[2016-09-26 20:18] artlawry commented on #1244
Actually, it looks like autoenv is executing nvm install, which also works from my commandline.

.env file executed by autoenv:

[code]

nvm install ran locally

[code]

[2016-09-26 21:40] peteringraham commented on #1245
I don't believe so, as far as PATH /nvm / npm references of note.  My ~/.bash_profile:

[code]

The source of the bashrc seems like it shouldn't really be necessary to me, but .bashrc doesn't run if I don't include it.

The only thing in .bashrc of potential interest is pretty bog-standard:

[code]

For nvm ls: Not that one version.  If I use 5.7.1, it points to "system" instead (which is hopefull

[2016-09-26 23:15] ljharb commented on #1245
@peteringraham hm, it's possible that `v5.7.1` is corrupted? could you try `nvm uninstall v5.7.1 && nvm install v5.7.1` and see if the issue is fixed?

[2016-09-26 23:16] ljharb commented on #1244
can you add `echo "$PATH"` to `.env`, and compare that to `echo "$PATH"` on your shell?

[2016-09-27 15:27] peteringraham commented on #1245
Looks like it worked.  I guess this was a side-effect of ```sudo npm install -g ``` when trying to fix unrelated errors earlier.

[code]

After running those, uninstalling, and reinstalling, no error message, node -v returns 5.7.1.

I'll re-open if something surprising happens later, but I think this is mostly fixed.

Note that ```nvm ls``` now claims it's using "5.7.1" rather than "system", so ma

[2016-09-27 15:27] #1245 closed

[2016-09-28 14:36] josmardias commented on #1091
@spencerhakim
I think you shouldn't do this:
[code]
Because it's hard to manage versions when there is a step that installs something unpredictable (last npm version? last version of npm dependencies?).

I think this specific behavior will not land on `nvm` code base.

I know that it's just a copy and paste of what you are doing on your environment, but I'm taking the opportunity to recommend you

[2016-09-28 17:35] ljharb commented on #1091
I definitely wouldn't add `npm upgrade -g` or anything like that - `nvm` will only ever install the `npm` that comes with the given version of node.

[2016-09-29 21:43] mightypenguin commented on #43
I believe the entire point of nvm was to make switching/using node easy and avoid these kinds of shenanigans of manually editing certain files for certain users and walking counter-clockwise during a full moon.

Rightly or wrongly a lot of node tools/modules REQUIRE being installed globally.

Can we please have a global install option when installing nvm?
If you are concerned about flavors of OS's

[2016-09-29 21:52] ljharb commented on #43
@mightypenguin `nvm` is not meant to be used across user accounts. Each user should have its own `$NVM_DIR`.

[2016-09-29 22:20] mightypenguin commented on #43
So even if I wrote the code to make this cleanly possible there is no way you would consider pulling my changes?

[2016-09-29 22:35] ljharb commented on #43
@mightypenguin i'd be happy to take a look at it, but I'm very skeptical it could be cleanly possible due to all the permissions issues within nvm-managed node dirs.

[2016-10-01 17:29] kalypzo opened #1249 "How about nvm profiles"
Can we include some sort of profile setup as part of nvm? This is for cases where we install global packages that were updated but require the same npm/node version we already installed.

Example use case:
We installed some global package to build our projects

Some updates were made to this package functionalities, but breaks existing ones along the way.
We would like to try out the new one but n

[2016-10-02 02:01] ljharb commented on #1249
@kalypzo are you looking for `nvm reinstall-packages`, or `nvm install something --reinstall-packages=from=somethingElse`?

[2016-10-02 02:02] ljharb commented on #1249
Ah, I see. In this case I'd recommend using `npm link` to swap which global package you're using, rather than swapping entire node versions.

[2016-10-02 03:43] travi commented on #1102
Could you help me understand the status of this? I came with this intent of opening a separate issue, but while looking through existing issues first, this one surprised me. I seem to have no trouble installing `nvm` and running `nvm install` in a directory that contains an `.nvmrc`. Is this not expected to work?

It did take me a bit to get it working, but because I was not installing the `nodejs

[2016-10-02 04:07] ljharb commented on #1102
@travi you shouldn't need the "nodejs" package for anything, nor a system node. The prefix error is likely that you have a "prefix" line in `~/.npmrc`, or an env variable setting the prefix - that should be removed. A separate issue would be great!

[2016-10-02 04:14] travi commented on #1102
Ok, thanks. That at least confirms my thought that a system node should be unnecessary.

This is a clean docker image with no `.npmrc` outside of the project being built (with only `save-exact=true` as content) and no env vars related to this.

I'll get this broken into a separate issue.

[2016-10-02 04:46] travi opened #1250 "unnecessary system node required to get past prefix error on clean install"
As mentioned in https://github.com/creationix/nvm/issues/1102#issuecomment-250951849, when running `nvm install` (after sourcing the `nvm.sh` script with the `--no-use` flag) from a project with an `.nvmrc` file, I'm running into the `nvm is not compatible with the npm config "prefix" option: currently set to ""` error on a clean image unless a system `node` is available.

For context, this is for

[2016-10-02 05:36] ljharb commented on #1250
I assume the npmrc is what contains "save-exact = true", not nvmrc?

[2016-10-02 05:39] ljharb commented on #1250
`nvm install` should return zero when it installs correctly - but I can see the logic in that if `nvm use` fails, the whole command should exit nonzero. That's one bug that can be easily fixed.

I see that your docker image is running the [install script](https://github.com/Dwolla/jenkins-agent-docker-nvm/blob/c489ebead2f879642dc545afc7a3e6cf2ba424d2/Dockerfile#L15) - after this runs, can you manu

[2016-10-02 05:40] travi commented on #1250
yes, sorry. updated in the original comment

[2016-10-02 05:48] travi commented on #1250
the image does not contain a profile file for the `jenkins` user that the build runs as. the warning suggesting manual addition is shown, but exits with a zero exit code. i think the zero exit is appropriate here since the message is more of a warning.

in our case, we [set `$NVM_DIR`](https://github.com/Dwolla/jenkins-agent-docker-nvm/blob/c489ebead2f879642dc545afc7a3e6cf2ba424d2/Dockerfile#L6) d

[2016-10-02 06:10] ljharb commented on #1250
Gotcha.

Can you get to a state where "nodejs" is not installed, and `nvm use node` fails with the prefix error, and provide the output of `nvm debug` and `nvm use node --delete-prefix && nvm debug`?

[2016-10-03 18:28] travi commented on #1250
I have not tracked down the output that you asked for, but wanted to share something else that I realized.

This should probably have been obvious, but since the `nvm install` command exits with zero and the next step continues, I assumed that the presence of the system node allowed `nvm` to get past the prefix error. This assumption was not correct. `nvm` still fails to make the desired version o

[2016-10-03 23:44] jdalton opened #1251 "Install notice for unmaintained versions."
With Node 0.10 hitting its [EOL at the end of the month](https://github.com/nodejs/LTS) what do you all think about giving folks a heads up, like a console warning, when an EOL'd version of Node is installed? \@thealphanerd.

[2016-10-04 00:41] ljharb commented on #1251
Does the `index.tab` on nodejs.org or iojs.org contain any information about what has support when?

If that information was present, and if there's an easy POSIX-compliant way to do a date check or similar, I'd be down for that.

However, I don't want to do anything that requires future updates when 0.12 is EOL'd, etc.

[2016-10-04 01:07] TheAlphaNerd commented on #1251
perhaps something that lists supported versions?

On Mon, Oct 3, 2016, 8:41 PM Jordan Harband <notifications@github.com>
wrote:

[2016-10-04 01:10] jdalton commented on #1251
@ljharb :metal:

@TheAlphaNerd Like a consumable json file?
Something like https://nodejs.org/support.json or an npm package?

[2016-10-04 01:12] TheAlphaNerd commented on #1251
I was thinking a consumable file, or part of the current tab file

On Mon, Oct 3, 2016, 9:10 PM John-David Dalton <notifications@github.com>
wrote:

[2016-10-04 01:22] ljharb commented on #1251
Part of the index.tab would be ideal to avoid another http request.

[2016-10-04 01:22] ljharb commented on #1251
@rvagg @jbergstrom thoughts?

[2016-10-04 03:11] jbergstroem commented on #1251
So, index.tab would suggestively contain LTS info? I agree that we should have LTS info in a parseable format, just not sure where. I'll have a think about it.

[2016-10-04 03:50] ljharb commented on #1251
@jbergstroem specifically, EOL dates (which would ideally go back to all the 0.1's as well)

[2016-10-04 04:50] TheAlphaNerd commented on #1251
@ljharb would it be reasonable to have a tab that just specified if it was active or inactive?

[2016-10-04 05:52] ljharb commented on #1251
@TheAlphaNerd sure, that would work too, assuming it got updated appropriately. `nvm`, like it does now with LTS categorization, would just store that info locally and update it on every `nvm ls-remote`.

[2016-10-04 05:57] TheAlphaNerd commented on #1251
is `nvm ls-remote` part of the nvm install lifecycle?

[2016-10-04 05:58] ljharb commented on #1251
Yes! In order to install something it has to know that the version exists, and to get its checksum to compare against a possibly pre-downloaded tarball.

[2016-10-04 08:45] ljharb commented on #1228
Thanks, that helps a ton! Fix incoming.

[2016-10-04 15:07] kevinSuttle opened #1252 "Polish: Output of nvm ls-remote in multi-columns"
It would be nice for the nvm ls-remote command to print to multiple columns, like homebrew.

<img width="1151" alt="screen shot 2016-10-04 at 11 03 24 am" src="https://cloud.githubusercontent.com/assets/95672/19079610/3916fcce-8a22-11e6-8355-72d60266293e.png">

Otherwise it's one huge list.

<details><summary>**Current output:** ⬇️ </summary>
[code]
</details>

[2016-10-04 16:36] ljharb commented on #1252
I'm personally not a fan of this kind of output - it makes the output much harder to work with programmatically. (also, "homebrew does it" is not something that would count in any feature's favor for me).

Is there any POSIX convention for displaying CLI output in columns, and/or for consuming it?

[2016-10-04 16:58] travi commented on #1250
I'm trying to parse this out of Jenkins output, so hopefully i grabbed all the right pieces from `nvm debug`, but output from that command is below:
[code]

it looks like this results in a `42` exit code due to `npm` not being available:
[code]

[2016-10-04 17:03] ljharb commented on #1250
whoa, all the "none" lines are unexpected.

Also, why is `$SHELL` "/bin/false"?? Shouldn't it be bash, or sh, or something similar?

[2016-10-04 17:07] travi commented on #1250
for `nvm use node --delete-prefix`, i'm seeing the following:

Because alpine linux is so stripped down, it looks like it does not support the `q` flag for `ls`
[code]

[code]

But, then it doesn't seem to understand `node` for `use`:
[code]

[2016-10-04 17:09] ljharb commented on #1250
`-q` is part of [posix](http://pubs.opengroup.org/onlinepubs/009695399/utilities/ls.html) - if alpine linux deviates from POSIX than `nvm` won't work on it.

If `nvm_ls` doesn't work because `ls` isn't working properly, then certainly it won't be able to resolve "node" to a specific version number :-/

[2016-10-04 17:13] travi commented on #1250
I've added the full output above for the `nvm debug` command in case it explains anything about the `none` lines or anything else. The lines w/o the `+`s are what I believe to be the actual output, but can't be sure if that is always the case.

[2016-10-04 17:15] travi commented on #1250
also added the full output for the `nvm use node --delete-prefix` build

[2016-10-04 17:16] #1228 closed

[2016-10-04 18:19] travi commented on #1250
i was able to add the `coreutils` package to the alpine image to make a POSIX compliant `ls` available, but the other messages remain:

[code]

[2016-10-04 19:59] travi commented on #1250
I saw that you asked about `$SHELL`. Jenkins does not use an interactive login shell, so that would not end up getting set. However, if you look at the first line of the full output, it uses `/bin/bash` to run the script that defines the build steps.

I think the question that I have that seems more related is "why is `$PREFIX` set to `''`"?

[2016-10-04 21:24] ljharb commented on #1250
Yes, that's a good question. If you `env | grep -i prefix`, what shows up?

[2016-10-04 21:40] travi commented on #1250
prefix is not in the `env` output at all

[2016-10-04 22:53] ljharb commented on #1250
ok, what does `nvm version node` and `set -x ; nvm use node` print out?

[2016-10-05 10:13] Ginden opened #1253 "Add nvm ls-remote --short (maybe as default)"
With option `--short`, `nvm` would return shorter list, like:
[code]

Algorithm for joining ranges should notice the change in Node.js versioning convention - before io.js major version changes was on minor position.

[2016-10-05 10:30] Ginden commented on #1252
I would recommend going for this line:
`nvm ls-remote | awk '{$1=$1};1' | column`

(`awk` is here to trim lines from trailing and leading whitespaces)

[2016-10-05 14:51] travi commented on #1250
`nvm version node` = `N/A`

`set -x ; nvm use node`:

<details>
  <summary>output</summary>
[code]
</details>

[2016-10-05 15:58] ljharb commented on #1253
`v4.(1-5)` wouldn't work because it wouldn't show the individual patch numbers. I can see grouping on minors as a possibility.

However, I'm not sure what the benefit of this option would be. What's the use case?

[2016-10-05 16:08] kevinSuttle commented on #1252
Actually, maybe it's better to document, and/or prefer (maybe with a suggestion) the `nvm ls-remote <VERSION>` command.

[code]

[2016-10-05 21:00] ljharb commented on #1252
It's fully documented - see `nvm --help`.

[2016-10-05 21:19] kevinSuttle commented on #1252
Right, poor choice of words. I meant to surface it in a warning when a version set isn't specified.

[2016-10-05 21:28] ljharb commented on #1252
That would imply that "getting the full listing" isn't an important use case. I use it all the time.

[2016-10-05 21:37] kevinSuttle commented on #1252
But how often do users want that?

[2016-10-05 21:37] ljharb commented on #1252
¯\\\_(ツ)_/¯ there's no data, so "as much as anything else"

[2016-10-05 21:40] kevinSuttle commented on #1252
Ok then

[2016-10-05 21:49] ljharb commented on #1252
I'm not necessarily opposed to adding the feature, I'm just trying to have a full discussion about the merits and difficulties.

For example - I'd be interested, if possible, in modifying the output of `nvm ls` and `nvm ls-remote` so that it can be piped directly to `column`.

[2016-10-06 16:09] travi commented on #1250
any further thoughts from the latest output above?

[2016-10-06 16:13] ljharb commented on #1250
Yes - it looks like `[' -d /home/jenkins/.nvm/versions/node ']'` is failing, which indicates that there's no node versions installed. If you `cd $NVM_DIR`, is there a "versions" directory? if so, what's inside it?

[2016-10-06 16:35] travi commented on #1250
[code]

[code]

keep in mind that each time I run these commands, it creates a new container instance, so previous commands have not had any effect. which command would you expect to create these directories?

[2016-10-06 16:37] ljharb commented on #1250
Sorry for the miscommunication. `nvm install node` should create them. I'm looking for the output of `nvm install node ; nvm version node ; set -x ; nvm use node`

[2016-10-06 16:57] travi commented on #1250
Theres a lot here, so hopefully some of it will be helpful (too long to include directly in the comment, so included as a file):

[output.txt](https://github.com/creationix/nvm/files/514370/output.txt)

[2016-10-06 17:13] ljharb commented on #1250
ok so…
the original prefix error might be related to:
[code]
which is [here](https://github.com/creationix/nvm/blob/v0.32.0/nvm.sh#L1886). the `$PATH` should allow `node` to be found, which should be set [here](https://github.com/creationix/nvm/blob/v0.32.0/nvm.sh#L2536). However, scrolling up in the output a bit, I see:
[code]
… in other words, `npm` was present, but `npm --version` printed out a

[2016-10-06 18:09] travi commented on #1250
[code]

it looks like since `npm` can't find `node` on the `$PATH`, it fails. i did not run the `which` command that you asked for because it is tough to get into that context from a jenkins script, but i would also expect it to fail since it doesn't look like the current directory is included in the path.

[2016-10-06 18:26] travi commented on #1250
i take it back, i was able to get the script to change directories successfully, but it confirmed that `which npm` failed.

[2016-10-07 04:13] meiryasuda commented on #1201
I had the same problem with nvm v0.32.0.

nvm debug:
[code]

nvm ls:
[code]

And I have a node version (v6.x) that isn't in this list. I don't know if is related, but sounds wierd to me.

[2016-10-07 07:03] ljharb commented on #1201
@meiryasuda what happens when you run `nvm use 4`? also, what leads you to believe that you have a v6 node that's not in the list? note that "system" will display for your non-nvm-managed node, no matter what version it is.

[2016-10-07 07:57] ljharb commented on #1250
OK, If you then run `PATH=/home/jenkins/.nvm/versions/node/v6.7.0/bin:$PATH npm --version`, what happens?

[2016-10-07 14:34] meiryasuda commented on #1201
ah, got it! I installed without nvm: https://github.com/nodesource/distributions#installation-instructions, make sense to be displayed as non-nvm-managed node.

In that list, I had two versions with "N/A" displayed, so I used the command `nvm install 4.2.2` and `nvm install 4.6.0` that updated my node versions list. Now, everything is fine! :)

[2016-10-07 17:11] kevinSuttle commented on #1253
@Ginden See https://github.com/creationix/nvm/issues/1252#issuecomment-251720775

[2016-10-07 20:29] mattlubner opened #1254 "Use absolute paths when npm-linking globally linked packages"
Linked npm packages won't resolve within (most) Docker containers, due to NPM's use of relative paths in the created symbolic links.

Specifically, when running a Node project within a Docker container, the project's path often differs within and outside of the Docker container. Eg., the project may reside within `~/projects/my_project` on the host machine, but `/usr/src/app` within the Docker con

[2016-10-07 20:31] ljharb commented on #1254
This isn't related to `nvm` - it's how `npm link` works, and isn't something `nvm` can hook into, nor should.

The way I typically solve this is to make the directory structure inside the container match the one outside.

[2016-10-07 20:33] mattlubner commented on #1254
@ljharb Hmm. Any thoughts as to why this doesn't happen when I'm using the system-installed NPM?

[2016-10-07 20:34] mattlubner commented on #1254
Btw, depending on the Docker image, it isn't always possible to define the directory structure within the Docker container.

[2016-10-07 20:37] ljharb commented on #1254
@mattlubner because with the system-installed one, the path to `npm` is the same both inside and outside the container :-p

[2016-10-07 20:39] mattlubner commented on #1254
@ljharb Sorry, I wasn't clear, meant that the system-installed `npm` is creating symbolic links with absolute paths.

[2016-10-07 20:43] ljharb commented on #1254
Hmm - that's interesting. The docs for `npm link` don't mention anything about it. I wonder if it does that because `nvm` is inside `$HOME`, as opposed to being inside `/`?

[2016-10-07 20:44] ljharb commented on #1254
Either way though, I'm not sure why you couldn't create a symlink on the *host* such that the path on the host matches what's in the container.

[2016-10-07 20:44] ljharb commented on #1254
Either way though, I'm not sure why you couldn't create a symlink on the *host* such that the path on the host matches what's in the container.

[2016-10-07 20:56] travi commented on #1250
solved the issue, but by swapping an alpine linux base for a debian base.

the reason for the switch was due to digging into why `npm --version` and other `npm` commands kept failing with `/usr/bin/env: ‘node’: No such file or directory`.

[code]

since `npm` sets a `node` shebang, it obviously needs to have `node` available. it would make sense for this to be as a result of `node` not being on th

[2016-10-07 21:42] ljharb commented on #1250
Thanks, that's very helpful! I'll leave this open until those have been investigated and/or addressed. Glad you got it working :-)

[2016-10-07 22:18] travi commented on #1250
Sure thing. Hopefully some of this will help the next guy at least :)

Thanks for the help along the way.

[2016-10-07 22:40] mattlubner commented on #1254
That's actually exactly what I'm doing as a work-around, by manually re-creating the symbolic link with an absolute path on the host. 😛

I'll ask the folks over at `npm` if they're aware of a reason for `npm link`'s odd behavior of sometimes creating relative symbolic links.

Anyways, for the time being, here's a little bash script I threw together that should ensure absolute paths are always crea

[2016-10-07 23:06] nbullen opened #1255 "nvm: install v6.7.0 failed!"
I am trying to install a non root instance of node on LINUX Redhat. I do not have sudo privileges. I am getting the following error when i try `nvm install node` :

`-bash-3.2$ nvm install node
Checksums match! Using existing downloaded archive $NVM_DIR/.cache/bin/node-v6.7.0-linux-x64/node-v6.7.0-linux-x64.tar.xz
tar: invalid option -- J
Try `tar --help' or `tar --usage' for more information.
Bin

[2016-10-07 23:26] mattlubner commented on #1254
Hmm, yes, definitely an issue with `npm`: https://github.com/npm/npm/issues/6052

[2016-10-08 01:13] ljharb commented on #1254
Good find -  i'm going to close this, but if there is something that nvm can do, please reopen.

[2016-10-08 01:13] #1254 closed

[2016-10-08 03:28] ljharb commented on #1255
What does `nvm debug` print out?

[2016-10-09 01:22] jumbosushi commented on #1166
I would like to take a stab at this, but looks like there's been lots of commits since then. Is this still an issue?

[2016-10-09 01:22] ljharb commented on #1166
@jumbosushi almost certainly still an issue - but even if not, it'd be helpful for you to add tests that ensure it stays working :-)

[2016-10-09 07:09] kyleprager commented on #1064
+1 Works fine for me too after running `apk --update add tar`

[2016-10-09 08:16] ljharb commented on #1064
@mahnunchik please let me know if upgrading `tar` isn't sufficient.

[2016-10-09 08:16] #1064 closed

[2016-10-09 23:13] jumbosushi commented on #1166
The problem seem to be at [this line on nvm.sh](https://github.com/creationix/nvm/blob/master/nvm.sh#L2665) !
("nvm run --lts 123" and "nvm run --lts 123.js" both works because including --lts flag avoids this if block. This if block mistakenly considers the file name input as version type )

I want to add a check on this line to see if $1 is a javascript file by creating something like nvm_is_js_

[2016-10-09 23:16] ljharb commented on #1166
@jumbosushi filenames don't have to have extensions at all, so checking for ".js" (or any other extension) simply won't work.

[2016-10-09 23:42] jumbosushi commented on #1166
Very true. How does nvm currently know to run app.js when it's called with "nvm run app"? Would it be possible to use the same logic here
?

[2016-10-09 23:43] ljharb commented on #1166
It doesn't - it ends up calling `node app`, and node itself figures that out.

[2016-10-10 00:39] jumbosushi commented on #1166
Thanks for quick responses! It's been really helpful :smile:

So user can pass 3 types of file name input to "nvm run":
1. pass "app.js" given that the file is named "app.js"
2. pass "app" given that the file is named "app.js"
3. pass "app" given that file is named "app" (without .js extension)

Would it make sense for me to make a PR that only fixes #1 and #2 (w/ tests)?

[2016-10-10 00:53] ljharb commented on #1166
They can also pass "app" that resolves to "app/index.js", or any number of others - I don't want to hardcode node's resolution algorithm into nvm. I think this is better solved wholesale instead of partially.

[2016-10-10 15:09] nbullen commented on #1255
`
-bash-3.2$ nvm debug
nvm --version: v0.32.0
$SHELL: /bin/bash
$HOME: /home/nbullen
$NVM_DIR: '$HOME/.nvm'
$PREFIX: ''
$NPM_CONFIG_PREFIX: ''
nvm current: none
which node: which: no node in (~/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin)
which iojs: which: no iojs in (~/bin:/usr/kerberos/bin:/usr/local/bin:/bin:/usr/bin)
which npm: which: no npm in (~/bin:/usr/kerberos/bin:/usr/local/bin:/

[2016-10-10 17:15] ljharb commented on #1255
It looks like by default Red Hat `tar` doesn't support `xz` - http://www.linuxquestions.org/questions/linux-software-2/how-to-install-tar-xz-file-in-redhat-linux-4175443828/#post4861385 implies you can install `xz-utils` and fix the problem?

[2016-10-10 19:45] gdvine commented on #576
Hi, I'm trying to get nvm installed on a Mavericks Mac, but this step is tripping me up. I had no ~/.bashrc file at all. I tried making one of those, a ~/.profile, and adding a bunch of the commands above to these files along with the ~/.bash_profile I made from scratch from the nvm instructions, but nothing worked to get nvm installed. Any more advice?

[2016-10-10 20:55] ljharb commented on #576
@gdvine make sure `~/.bash_profile` has `. "$HOME/.bashrc"` in it, and then `touch "$HOME/.bashrc"`, and then rerun the install script.

[2016-10-11 00:29] selfagency opened #1257 "can't switch node versions, trapped in one install"
my system version of node, installed via homebrew, is v6.7.0.

for some reason, when i try to use it vs. the nvm-installed v5.12.0, i simply cannot.

even if i install a new version of node via nvm and try to use that, it immediately reverts back to v5.12.0.

i'm so confused.

[code]

[2016-10-11 07:41] ljharb commented on #1257
What is likely happening here is that your profile files are modifying the PATH in some way. What does `nvm debug` and `echo $PATH` output, as well as `nvm deactivate ; which node`?

[2016-10-12 14:54] nbullen commented on #1255
Okay I was able to get node installed by running unxz then tar as explained here: [Extract a tar.xz file on CentOS and RedHat](https://www.justinsilver.com/technology/linux/extract-tar-xz-file-centos-redhat/)

This is now my issue:
[code]

[2016-10-12 18:33] polybuildr opened #1261 "Loading nvm is unbelievably slow (7-46 seconds)"
I've been using nvm for quite some time now and I recently installed it on a new laptop running Ubuntu 16.04. I've been experiencing extremely high load times: between 7 and 46 seconds on both `zsh` (my primary shell) as well as `bash`.

Here's the output of `nvm debug` (I had `chsh`-ed to try `bash`):

[code]

I tried `rm -rf ~/.nvm` and reinstalled, but there was no improvement. I downgraded to

[2016-10-12 18:37] TylerBre commented on #794
.node-version is a much more sane name than .nvmrc

furthermore, I don't see why it should support both

[2016-10-12 18:54] ljharb commented on #794
@TylerBre please don't use ableist terms like "sane".

`node-version` would work if it was a universal version identifier. However, `nvm` supports io.js, and aliases, neither of which are necessarily "node" or "universal".

[2016-10-12 18:58] ljharb commented on #1261
Try changing the line in your profile that sources `nvm` to something like `. "$NVM_DIR/nvm.sh" --no-use` - does that speed it up?

[2016-10-12 19:00] ljharb commented on #1255
What does `nvm ls` and `echo $PATH` and `which node` print out?

[2016-10-12 19:13] polybuildr commented on #1261
Yep, `nvm use` is the culprit. After the sub-second `source`, running `nvm use default` took a full 47 seconds!

[2016-10-13 03:04] zxdvd opened #1262 "bash -c 'nvm ls' used by fabric got 'command not found'"
I use fabric to deploy my node apps. Fabric `run('nvm ls')` reports "nvm command not found".

It seems fabric run command like `/bin/bash -l -c "nvm ls"` and nvm doesn't export itself to subshell.

[code]

Now I have to use `source ~/.bashrc; nvm ls` to overcome it. Is there any plan to support this scenario?

[2016-10-13 06:27] ljharb commented on #1262
I'm not familiar with fabric or what that is - but `nvm` must always be sourced in a shell that wants to run its commands, and as such, either needs a login shell (such that the appropriate profile file sources it for you), or explicit sourcing.

Using `bash -l` should simulate that, provided that the appropriate `.bashrc` or `.bash_profile` file gets sourced by that.

[2016-10-13 12:02] Eclektic opened #1263 ""nvm: install v6.8.0 failed!" on nvm install node"
Hi,

I try to use nvm but when I want to install the latest node release I got that :

`$ nvm install node
Can not determine how many thread(s) we can use, set to only 1 now.
Please report an issue on GitHub to help us make it better and run it faster on your computer!
######################################################################## 100.0%
Computing checksum with sha256sum
Checksums matche

[2016-10-13 12:23] Eclektic commented on #1263
I try to install v5, same result....

`$ nvm install v5
######################################################################## 100.0%
Computing checksum with sha256sum
Checksums matched!
  File "./configure", line 460
    '''
      ^
SyntaxError: Missing parentheses in call to 'print'
nvm: install v5.12.0 failed!
`

[2016-10-13 13:02] Eclektic commented on #1263
...on Windows, and it is not supported, miss that. Switching to https://github.com/coreybutler/nvm-windows

[2016-10-13 13:02] #1263 closed

[2016-10-13 16:46] ljharb commented on #1263
@Eclektic `nvm` should work on BashOnWindows, however. Is that report above related?

[2016-10-13 16:55] selfagency commented on #1257
thanks, it looks like i was using an abandoned version of a fish nvm wrapper. i switched to a new one and everything works again. thanks!

[2016-10-13 16:55] #1257 closed

[2016-10-14 02:54] zxdvd commented on #1262
@ljharb  /bin/bash -l -c "nvm ls" doesn't work.

I have source  ~/nvm/.nvm.sh in my .bashrc.
[code]

[2016-10-14 04:19] ljharb commented on #1262
@zxdvd what if you do `/bin/bash -l -c ". '$NVM_DIR/nvm.sh' ; nvm ls"`? This works on my machine, fwiw.

If that works, could you gist your `~/.bashrc` and `~/.bash_profile`, with any sensitive parts censored?

[2016-10-14 08:04] zxdvd commented on #1262
I know `/bin/bash -l -c ". $NVM_DIR/nvm.sh; nvm ls"` or `/bin/bash -l -c ".  ~/.bashrc; nvm ls"` works. But I hope `/bin/bash -l -c "nvm ls"` would work. I think it's because the nvm shell script doesn't export its functions to subshell.

[2016-10-14 09:34] hakeem430201 opened #1265 "N/A: version "N/A" is not yet installed."
I've been tackling this all day and had no luck. Hopefully it's something simple, I've read and tried everyones solution but had no luck. I keep getting
"N/A: version "N/A" is not yet installed.

You need to run "nvm install N/A" to install it before using it.
"
I installed 4.6.0 and set it as default, reinstalled nvm, edited my .nvmrc file, experimented with different versions and still had no lu

[2016-10-14 15:10] puncha commented on #519
It doesn't seem to work in Windows 7. Any workarounds?

[2016-10-14 17:36] ljharb commented on #519
@puncha `nvm` should work on BashOnWindows. Otherwise, it currently does not support Windows at all - the readme lists windows alternatives.

[2016-10-14 17:48] ljharb commented on #1262
It does work for me. i'm not aware of any way to "export functions to a subshell" - a subshell should just inherit all things available in the current shell, including functions.

If you can gist your `~/.bashrc` and `~/.bash_profile`, with any sensitive parts censored, I can try to figure out what might be different about your computer that makes this not work.

[2016-10-14 17:54] ljharb commented on #1265
What's in your `.nvmrc` file, and what do the nvm-related lines in your bashrc/bash_profile look like?

[2016-10-14 18:10] hakeem430201 commented on #1265
.nvmrc:
$ echo "4.6.0" > .nvmrc

bashrc:
export NVM_DIR="/home/hvk33m/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

and I don't recall seeing a bash_profile.

[2016-10-14 18:40] ljharb commented on #1265
What does `echo $PATH` output?

[2016-10-14 19:20] hakeem430201 commented on #1265
I put echo $PATH in the .nvmrc file right? After doing so and running 'nvm use' I don't get an output. I just get
Found '/home/hvk33m/default/.nvmrc' with version <$ echo "6.4.0" > .nvmrc>
N/A: version "N/A" is not yet installed.

but if I change the nvmrc file to just 6.4.0 I get
Found '/home/hvk33m/default/.nvmrc' with version <6.4.0>
Now using node v6.4.0 (npm v3.10.3).

[2016-10-14 22:39] ljharb commented on #1265
Those should be equivalent. Do you perhaps have a bash option set that repeats the command you've entered to stdout?

[2016-10-15 02:49] hakeem430201 commented on #1265
Not that I know of. I haven't set any bash options. Always thought this was weird, surely I messed up somewhere

[2016-10-15 05:44] ljharb commented on #1265
if you do `echo "4.6.0" > .nvmrc` - and then `cat .nvmrc` - what comes out?

[2016-10-15 06:07] zxdvd commented on #1262
[.bashrc and .bash_profile here](https://gist.github.com/zxdvd/255d7136d530b7f58c27a973101b2ebc)

After reading comments in .bashrc, I added `export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"` to `.profile` and then `/bin/bash -l -c 'nvm ls'` works.

It seems that login shell doesn't source .bashrc file (I am using osx now and I'll try this on debian server when back to w

[2016-10-15 06:15] ljharb commented on #1262
On OS X, it sources `.bash_profile` - typically you'd add `. ~/.bashrc` into your `~/.bash_profile` file to make all the shell stuff work.

Glad you figured it out!

[2016-10-15 06:15] #1262 closed

[2016-10-15 06:31] hakeem430201 commented on #1265
After trying the above I get
echo "4.6.0" > .nvmrchvk33m@hvk33m-laptop:~/default$

[2016-10-15 07:10] ljharb commented on #1265
Hmm, what does `type echo` print out?

[2016-10-15 08:00] hakeem430201 commented on #1265
It shows echo is a shell builtin

[2016-10-15 08:04] ljharb commented on #1265
Can you gist your `~/.bashrc` and/or `~/.bash_profile` files? Specifically i'm looking for any lines that say `set`

[2016-10-15 08:07] hakeem430201 commented on #1265
Sure thing I uploaded it [https://gist.github.com/hakeem430201/ba09a55c9db72023e098f9a7f75a0148](url)

[2016-10-15 08:11] ljharb commented on #1265
hmm, nothing looks weird there. Can you try moving https://gist.github.com/hakeem430201/ba09a55c9db72023e098f9a7f75a0148#file-bashrc-L116-L117 to the top of the file?

[2016-10-15 08:14] hakeem430201 commented on #1265
I tried. I still receive this error:

Found '/home/hvk33m/default/.nvmrc' with version <echo "4.6.0" > .nvmrc>
N/A: version "N/A" is not yet installed.

You need to run "nvm install N/A" to install it before using it.

[2016-10-15 12:44] puncha commented on #519
@ljharb Oh, I forgot I'm using the nvm-windows which is a different repo. Thanks.

[2016-10-15 16:51] ljharb commented on #1265
It seems like the problem is your .nvmrc file contents. Can you try editing it in an editor, instead of using `>`?

[2016-10-16 03:36] thefonso commented on #1087
@dominicbarnes can you link the OS X version of this problem? I am having the same issue. Thanks.

[2016-10-17 00:19] hakeem430201 commented on #1265
I spent the last few days tackling this and finally figured it out. I did the above and after that they both showed the same but I still got the N/A not installed on my server the first time. It then installed and ran successfully after. Thanks for your help. Couldn't have done it without you

[2016-10-17 03:33] #1265 closed

[2016-10-17 17:16] polybuildr commented on #1261
Is there a local workaround solution to this issue? Or is it just something that `nvm` will have to fix?

[2016-10-18 02:11] aguegu commented on #715
The problem does not occur later. We have all forgotten about iojs, and upgraded to v6+. Close it for now.

[2016-10-18 02:11] #715 closed

[2016-10-18 05:12] ljharb commented on #715
@aguegu yes but a bug fixed for io.js will help with future node versions, including release candidates and nightlies. It'd be very appreciated if you tried again with io.js and the latest `nvm`, if only to help future node users :-)

[2016-10-18 08:40] ljharb commented on #1261
I'm not aware of a workaround, since I'm still not sure why it's particularly slow. `npm config get prefix` is the slowest part of `nvm use`, but it usually adds 400ms, while the rest of the command takes another 400ms - it wouldn't explain 7 seconds.

[2016-10-18 11:19] polybuildr commented on #1261
What's interesting is that this only happens the first time I load nvm after boot. All future loads in other terminal tabs are pretty fast, about ~1 second. What's different the first time it loads?

[2016-10-18 11:22] lukechilds opened #1266 "Run Travis tests on OS X"
Should be a fairly simple tweak to `.travis.yml` and will test in what I would expect would be a pretty common (if not the most common) environment that `nvm` will normally run in.

Also has the benefit of testing against BSD tools instead of GNU tools.

The downside is it'll run all the current tests twice so effectively double the build time, not sure if that would be a deal breaker as I know th

[2016-10-18 16:55] ljharb commented on #1266
Build speed is important, and since I test everything manually on OS X, that hasn't been the platform that's historically had problems in the past.

If you can prepare a PR that does not slow down the current jobs (ie, does any OS X setup only for the OS X jobs), then duplicating the shell-based jobs to also run on OS X seems worth looking into.

However, OS X builds on Travis are delayed pretty o

[2016-10-18 17:12] lukechilds commented on #1266
You can just specify both `linux` and `osx` and it'll run all the jobs in the matrix on both. Linux jobs should stay on the current infrastructure.

But yeah, I'll throw a PR together and see how much it affects speed 👍

[2016-10-18 18:11] ljharb commented on #1261
Hmm, that's a good question. I wonder if your filesystem is caching things (like what's inside $NVM_DIR, or something)?

[2016-10-18 18:19] polybuildr commented on #1261
Any ideas on how I could check whether it's doing that? `$NVM_DIR` is about 390 MB in size, though, so it definitely can't be caching all of it.

Also, is there a good way for me to profile each step in the loading process? I could put a `set -v` and change my `PS4` to echo the time, but any better way? Maybe I can confirm what causes the slowdown on my system.

[2016-10-18 18:23] ljharb commented on #1261
I was thinking it cached the directory listing (not the contents), but I have no idea.

I know that `zsh` offers profiling like that, but I've no idea how to use it :-/ If you can figure out some profiling that would help a ton.

[2016-10-18 18:23] mgol opened #1268 "The newest LTS should be preferred over the older ones"
[code]
This seems weird that `lts` defaults to `lts/argon` which is older than `lts/boron`.

[2016-10-18 18:24] ljharb commented on #1268
Thanks - boron just was released 15 minutes ago and I'm in the middle of fixing this bug right now :-)

[2016-10-18 18:24] mgol commented on #1268
I'm too fast, sorry. :-)

[2016-10-18 18:32] polybuildr commented on #1261
Right, that definitely makes more sense. :P

I'm busy the next couple of days, but after that, I'll try to profile stuff and let you know how that goes.

[2016-10-18 19:25] #1268 closed

[2016-10-18 20:18] ljharb commented on #1268
Released as [v0.32.1](https://github.com/creationix/nvm/releases/tag/v0.32.1)

[2016-10-20 19:52] tconroy commented on #855
+1, getting this on Prezto ( a fork of Oh-My-Zsh ), nvm and trying to install node @ 6.9.0.

I attempted to run `nvm use --delete-prefix v6.9.0`, which just hangs my terminal window indefinitely..

Any help?

[2016-10-20 20:15] ljharb commented on #855
@tconroy what does `nvm debug` do prior to trying to run `nvm use`?

[2016-10-21 15:07] shahata commented on #1079
+1

[2016-10-21 17:45] FlyingSailor opened #1269 "Run `nvm use --delete-prefix version --silent` to unset it."
nvm is not compatible with the npm config "prefix" option: currently set to "/Users/Macx"
Run `nvm use --delete-prefix v4.6.0 --silent` to unset it.

I use brew install nvm,and use nvm install node,but the issues was happend! What should i do?
Thanks for first

[2016-10-21 19:20] ljharb commented on #437
@alexmiddeleer what does `nvm debug` print out?

[2016-10-21 19:49] ljharb commented on #1079
@shahata please do not comment "+1" anywhere on github anymore; those comments are useless and just create noise. Add an emoji reaction to the original post instead.

I'll now delete your comment, and my own, to leave the thread clean.

[2016-10-21 19:49] ljharb commented on #1269
`nvm` is not supported via homebrew - please `brew uninstall` it, and use the install instructions in the readme instead.

[2016-10-21 20:38] alexmiddeleer commented on #437
@ljharb
[code]

[2016-10-21 21:07] ljharb commented on #437
@alexmiddeleer can you file a new issue with this info? That should work fine, as long as `$HOME` isn't a symlink, and there's no device mounting going on, and nvm wasn't installed by homebrew.

[2016-10-22 02:14] FlyingSailor commented on #1269
Well,thanks!

[2016-10-22 04:42] ljharb commented on #1269
@FlyingSailor please reopen if installing the supported way still doesn't work!

[2016-10-22 04:42] #1269 closed

[2016-10-22 23:07] krokofant commented on #782
It's a bit hacky but this is what I use
[code]

[2016-10-22 23:51] ljharb commented on #782
@krokofant please note that installing nvm with brew is unsupported, and is often the cause of many bugs, including some slowness.

[2016-10-23 12:49] polybuildr commented on #1261
Last boot, loading nvm took about 8 seconds. I ran `zmodload zsh/zprof` before loading nvm, and then ran `zprof` to get the profiling output. The results are in a gist here: https://gist.github.com/polybuildr/26d7fafdac767b8c9a83d5a9de509260

I haven't analyzed the output much yet (will try again in a couple of days), but just the zprof output might be useful.

[2016-10-23 17:11] ljharb commented on #1261
@polybuildr thanks! As expected, `nvm_die_on_prefix` takes the most time (because it's calling `npm config get prefix`). It does, however, seem like that's called more times than it should be - I'm not sure how to read zprof output. Can you clarify which lines constitute distinct calls into `nvm_die_on_prefix`?

[2016-10-23 17:46] kirkstrobeck commented on #110
Great to see work on this. Any chance in the absence of `.nvmrc`, it could use the engine setting in `package.json`. I would prefer to set the version once for the whole repo.

[2016-10-23 17:48] kirkstrobeck commented on #110
Also, I made https://www.npmjs.com/package/strict-version to help with forcing version

[2016-10-23 17:56] ljharb commented on #110
@kirkstrobeck that would require parsing JSON in POSIX, as well as handling semver ranges. It's not feasible at this time.

[2016-10-23 18:00] kirkstrobeck commented on #110
Sure, but I’ve got to believe that work is already done and just needs to be added as a lib, how does [npm](https://github.com/npm/npm) handle it?

[2016-10-23 18:02] ljharb commented on #110
`npm` does it in JS, since they have node available. `nvm` has to operate without node. `nvm` also is a single sourced shell file - it can't have any "libs" that aren't built into all POSIX systems.

[2016-10-24 08:10] watson opened #1270 "Can't uninstall version if lib/node_modules contain a symlink"
Environment:
- nvm version: latest
- shell: zsh

When doing local module development, you'd sometimes run the `npm link` command with is kind of like installing the module you're working on globally. But instead of actually copying the bin files it just creates a symlink to your code.

If I then try to run `nvm uninstall <x>` the uninstaller will fail with the following message:

[code]

The issue

[2016-10-24 08:12] ljharb commented on #1270
Thanks for the report! I've recently run into the same issue, and I'm working on a fix locally as we speak. (Manually running `npm unlink -g` also resolves it)

[2016-10-24 09:04] watson commented on #1270
@ljharb Is there a risk that it's trying to delete the data inside my code folder by following the symlink? E.g. do you know if it might have deleted some data in there before getting the error mentioned above?

[2016-10-24 11:00] dunght160387 opened #1271 "ls-remote and install many times to run"
I used the latest version of nvm.

When `nvm ls-remote`, i must run 4 times this command then get 3 times result 'N/A' and a result valid.
Similar for `nvm install <version>` (4times-3f-1ok), but take too-long time to finish.

Pls check this and resolve. Thank you!

[2016-10-24 13:29] kirkstrobeck opened #1272 "Adapt this command to install version as well"
Currently the script at https://github.com/creationix/nvm/#zsh fails silently if not previously installed. It should prompt the use to auto-install or simply auto-install.

[2016-10-24 14:25] alexmiddeleer opened #1273 "N/A: version "N/A" is not yet installed. Node 6.9.1 OSX El Capitan"
Thanks to everyone who contributes to this project. Issue is not critical as I can manually tell NVM which version to install. As per issue creation request here:  https://github.com/creationix/nvm/issues/437#issuecomment-255465512.

[code]
[code]
[code]

[2016-10-24 18:36] ljharb commented on #1270
No, the point of that error is that nothing is deleted until it passes. In addition, it wouldn't have removed the symlink contents, just the link itself, so your data is safe.

[2016-10-24 20:33] ljharb commented on #1271
@dunght160387 how did you install `nvm`? What does `nvm debug` print out? Can you provide a full gist of running `nvm ls-remote` multiple times? What does `curl --verbose https://nodejs.org` print out?

[2016-10-24 20:34] ljharb commented on #1272
Sure, that can be fixed by swapping `nvm use` for `nvm install`.

[2016-10-24 20:35] ljharb commented on #1273
Thanks! Can you provide the output of `cat /Users/alex/proj/desktop-fe/.nvmrc`?

[2016-10-25 12:04] alexmiddeleer commented on #1273
Sure, it's just `v6.9.0`

[2016-10-25 12:06] alexmiddeleer commented on #1273
Wow... so I just ran `nvm install` and `nvm use` and it worked. I assume I tried that before, but if not... wow. Sorry, maybe this can just be closed.

[2016-10-25 18:02] ljharb commented on #1273
Thanks for following up - if it wasn't installed properly, that message was correct - the `nvm ls` output might have been incorrect, however - but it's too late to debug that now :-)

[2016-10-25 18:02] #1273 closed

[2016-10-25 23:35] anishd19 commented on #1054
@Gheoan Can you please explain how you got nvm to work? I am not able to..

[2016-10-25 23:45] anishd19 commented on #1054
got it to work.. followed this link https://www.liquidweb.com/kb/how-to-install-nvm-node-version-manager-for-node-js-on-ubuntu-12-04-lts/

[2016-10-26 07:35] dmitriid commented on #1273
Same problem here

1. Had the previous lts version via `nvm install --lts && nvm use --lts`
2. Installed the new lts yesterday via `nvm install --lts && nvm use --lts`

Now:

[code]

Relevant outputs:

[code]

[2016-10-26 07:38] ljharb commented on #1273
@dmitriid I think you don't have the latest `nvm` - that was a bug that's fixed in v0.32.1.

[2016-10-26 07:40] dmitriid commented on #1273
Aha! Thank you! This fixed things

[2016-10-27 07:12] myoneray commented on #855
我之前也被这个错误所困扰,之后找到一个解决办法. 重新安装即可.

* 卸载node和nvm
* 卸载zsh.

* 安装nvm
* 安装node
* 安装zsh

可以了!

可以参考这儿的前几步. [我的博客](http://myone.me/2016/07/12/2016-10-17-node%E5%AE%89%E8%A3%85/)

[2016-10-27 07:31] ljharb commented on #855
Here's the Google Translate version of the [previous comment](https://github.com/creationix/nvm/issues/855#issuecomment-256564630) in English:

 I have also been troubled by this mistake before finding a solution. Re-installation can be.

* Unload node and nvm
* Uninstall zsh
* Install nvm
* Install node
* Install zsh

Can it!

You can refer to the first few steps here. [My blog] (http://myone.me/

[2016-10-27 18:26] polybuildr commented on #1261
As far as I can tell from the zprof output, it looks like it only gets called once every time (from the "calls" column). I tried to see - crudely - how many seconds the `npm config get prefix` call takes:

[code]

Mostly 1 or 2 seconds, but sometimes ~9 seconds. Any idea why this drastic variation? Also, are there any other possible culprits than `npm config get prefix` that I should specifically

[2016-10-27 21:07] ljharb commented on #1261
I'm not sure why there's variation - it's all internal to `npm`.

Other than that, there's calls into `nvm_ls` (via `nvm_version` via `nvm_ensure_version_installed`) that are probably also slowing things down.

[2016-10-28 04:11] tsgan commented on #1207
Any updates on this?
Please let us know.

thanks a lot,

[2016-10-28 05:19] polybuildr commented on #1261
Last boot, the load time was 70 seconds :disappointed: I did another `zprof` and got this: https://gist.github.com/polybuildr/9aeb92664146a289383f9e19a9a57089

So whatever it is, it definitely happens inside `nvm_die_on_prefix`. The log for tracking `npm config get prefix` showed:

[code]

So, while there are some other issues, this is definitely the whopper. As a workaround, I've simply hardcoded

[2016-10-28 08:15] ljharb commented on #1207
@tsgan will [my proposal](https://github.com/creationix/nvm/issues/1207#issuecomment-243667041) work for you?

[2016-10-28 08:20] ljharb commented on #1261
@polybuildr filing an issue in `npm` would be great, and yes, hardcoding that won't break as long as when you update, you use the normal install script, and as long as you never set the "prefix" config :-)

[2016-10-28 08:22] tsgan commented on #1207
Yes, it would work for us and we were waiting for your implementation.
Please let us know. Thanks.

[2016-10-28 16:05] icfantv commented on #295
Near as I can tell, this is still an issue, however Webstorm DOES manage to find the installed version of node under `.nvm` - though how exactly, I don't know.  @ljharb, would you consider reopening this and placing a symlink in `.nvm/alias` that gets updated every time some sets a version of node so that the path specified in Webstorm isn't so fragile (i.e., version-dependent)?

Screenshots attac

[2016-10-28 17:53] ljharb commented on #295
@icfantv no - that was a feature nvm used to have, to create a "current" symlink. That's nonsensical however when you consider that you might have multiple tabs open simultaneously with different node versions, so there's no such thing as a "current" version of node outside your shell.

[2016-10-28 18:31] polybuildr commented on #1261
I've filed the issue at npm/npm#14458.

[2016-10-28 18:32] polybuildr commented on #1261
Oh and thanks a lot for confirming that this hardcoding solution will work for now! :)

[2016-10-28 20:29] icfantv commented on #295
Yep, that makes total sense from a terminal perspective and while this would be a system-level setting, I get why one wouldn't want to use it.  Thanks for the clarification.

[2016-10-29 07:17] arndeash opened #1277 "NVM getting very slow on startup in Bash"
I love NVM, but I've noticed that NVM is getting really slow during startup. See attached screenshot for what I mean: http://take.ms/LPOv3

Is this a bug or is something wrong on my Mac?

[2016-10-29 21:35] ljharb commented on #1277
What's `nvm ls` and `nvm debug` print out?

[2016-10-29 21:36] ljharb commented on #1277
You can also try adding `--no-use` to the end of the second nvm line (the one doing the sourcing) to confirm that it's the auto-use code path that's being slow.

[2016-10-30 11:23] Kamil93 commented on #1041
Same for me on freebsd:

nvm --version: v0.31.3
$SHELL: /usr/local/bin/bash
$HOME: /home/myusername
$NVM_DIR: '$HOME/.nvm'
$PREFIX: ''
$NPM_CONFIG_PREFIX: ''
nvm current: system
which node: /usr/local/bin/node
which iojs:
which npm: /usr/local/bin/npm
npm config get prefix: /usr/local
npm root -g: /usr/local/lib/node_modules

[2016-10-30 17:31] ljharb commented on #1041
@Kamil93 Try upgrading to nvm v0.32.1 with the curl command in the readme.

[2016-10-31 07:59] derAndreas commented on #1241
Hi,

same issue hit me too. Problem seems to be with the `-q` param in the curl calls.
`-q` ignores the `.curlrc` file and thats why a direct curl is working, but in nvm it fails.

From the manpage of curl (https://curl.haxx.se/docs/manpage.html):

1. curl --verbose https://nodejs.org/dist/          # should work
2. curl -q --verbose https://nodejs.org/dist/     # should not work

Issue was addres

[2016-10-31 08:02] ljharb commented on #1241
@derAndreas I added `-q` because I was concerned about the opposite problem - `-q` means i can whitelist any commands i need, instead of blacklisting problematic ones.

If someone can make a PR that removes `-q` but overrides any options that would conflict, like `--remote-name-all`, then I may consider accepting it.

[2016-10-31 09:18] ahennie commented on #1277
@ljharb
Adding `--no-use` makes it superfast, but then it doesnt load node. But I guess it confirms that the auto-use code path is slow. Here are the `nvm ls` and `nvm debug`

[code]
[code]

[2016-10-31 09:28] ljharb commented on #1277
Do you have a `.nvmrc` file anywhere, like `~/.nvmrc`?

[2016-10-31 09:42] ahennie commented on #1277
@ljharb the one line I have in that file is
`onload-script=npm-autoinit/autoinit`

[2016-11-01 04:50] ljharb commented on #1277
@ahennie in a file called n**V**mrc, you have that line?

Can you provide a little more info on your Mac? Do you have an SSD, how old is it, how fast/much RAM, etc?

[2016-11-01 06:55] ranqiangjun opened #1278 "Install script should use `\.` in case of overridden `.`"
Since #576 was closed. I create a new one here.

I got the same error after installed nvm followed the README on macOS Sierra 10.12.1.

[code]

According to @ljharb 's comment: [https://github.com/creationix/nvm/issues/576#issuecomment-89670361](https://github.com/creationix/nvm/issues/576#issuecomment-89670361)

It is **NOT TRUE** that `. something` and `source something` are the same.

In my MBP

[2016-11-01 07:05] ljharb commented on #1278
@ranqiangjun wow, i've never heard of anyone aliasing over `.` before - that's hugely problematic and might break a lot of tools. It's definitely not a default.

`source` does not work on all of the shells that `nvm` supports. `.` is the proper thing to use.

[2016-11-01 07:06] ljharb commented on #1278
It might be possible to use `\.` to source it while bypassing the alias. Does this work for you?

[2016-11-01 07:10] ranqiangjun commented on #1278
`\.` Works for me. Thanks for your quick response!

[2016-11-01 07:16] ljharb commented on #1278
Great, if that change also works on other shells, I'll add that to the install script.

That said, you absolutely should remove that alias immediately - `.` is a very important shell builtin.

[2016-11-01 07:20] ranqiangjun commented on #1278
I run this kind of script before [https://github.com/darol100/lazydubuntu/blob/master/bin/lazyaliases.sh](https://github.com/darol100/lazydubuntu/blob/master/bin/lazyaliases.sh). It added aliases for me automatically. I'll remove that. Thanks again. @ljharb

[2016-11-01 07:21] ljharb commented on #1278
Nothing in that script aliases over one dot, only 2, 3, and 4 dots.

[2016-11-01 07:29] ranqiangjun commented on #1278
Yes, that script is fine. It is only an example. I just don't know which script added that.

In my .bash_profile

I found:

[code]

It is for sure that this is not added by me manually. Because English is not my first language, that comment `## a quick way to get out of current directory ##` is perfect and I can't not write like that.

[2016-11-01 07:31] ljharb commented on #1278
I'd definitely recommend removing all of those aliases and just using `cd` when you want to change directories :-p

Thanks for the report!

[2016-11-01 07:35] ranqiangjun commented on #1278
All removed. I appreciate your time.

[2016-11-02 05:18] Huibean commented on #855
😀,I solve this problem by removing below code in my .zshrc
[code]
I don't realize these existed in my .zshrc while I add below to my .bash_profile after install nvm
[code]
obviously, my $HOME is "/Users/huibean/" not "/Users/Huibean/"

[2016-11-02 05:43] ljharb commented on #855
@Huibean having the lines in both files shouldn't cause a conflict, altho obviously both should use "$HOME" :-)

[2016-11-02 06:12] Huibean commented on #855
@ljharb  yes, it should be $HOME in this case, I have checked the install.sh(master), SOURCE_STR convert $HOME to the value before added to my .zshrc, maybe using ${NVM_DIR:-"$HOME/.nvm"} again is better than $INSTALL_DIR in this situation
[code]

[2016-11-02 17:47] strarsis opened #1280 "Install yarn"
[yarn](https://github.com/yarnpkg/yarn) is an alternative package manager (like npm).
It would be great if nvm also installs yarn as it does with npm.
A switch to decide whether to install yarn or npm or even both of them would be a great addition.

[2016-11-02 18:10] leo191 opened #1281 "Failed to compile atom :TypeError: Incorrect value of args option"
I'm on arch and I've tried many ways including installing from user repository , removing atom nodejs npm and again installing it, building it from source ,even I reinstalled my os still giving me same error.
first I thought may be node version and atom versions ar conflicting so I downgraded node and rebuild it but did not work.
When I tried to compile it.
`child_process.js:145
    throw new Type

[2016-11-02 19:21] pnahtanoj opened #1282 "Installation 'Permission denied' error."
Ran the curl install today.  Looked like it worked, so I started another shell.  command -v nvm showed nothing.

So, I re-ran the curl install, and now I'm getting:

curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left

[2016-11-02 19:26] pnahtanoj commented on #1282
Forgot to mention.

.bash_profile:
source ~/.bashrc

.bashrc:
export NVM_DIR="/usr/bin"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm

[2016-11-02 19:37] pnahtanoj commented on #1282
RESOLVED.

FWIW, ${NVM_DIR:-"$HOME/.nvm"} was resolving to /usr/bin.  I removed the relevant lines from my .bashrc, removed the .nvm dir, and re-installed.  Working now.

[2016-11-02 19:37] #1282 closed

[2016-11-02 22:24] mitermayer commented on #1277
This is also very slow for me on gentoo linux.

[2016-11-02 22:50] ljharb commented on #1280
1. `yarn` is not yet a full alternative to `npm`.
1. `nvm` installs node. `npm` comes with `node` - `nvm` doesn't install `npm`.

If node ships with yarn, then nvm will bring yarn along with it. Until then, `npm install -g yarn` works just fine.

[2016-11-02 22:50] ljharb commented on #1281
This isn't really an nvm issue - this is an issue with atom specifically. Please file an issue on their repo.

[2016-11-02 22:50] #1281 closed

[2016-11-02 23:07] toutoudnf opened #1283 "can not install nvm"
i am trying to install nvm by cmd
[code]
under git bash in windows, but it failed. the version of git
[code]
here is the error logs
[code]

[2016-11-02 23:32] ljharb commented on #1283
`nvm` doesn't work in git bash, because it requires POSIX compliance. You need to be using BashOnWindows to use `nvm` on windows - otherwise, there's alternative Windows projects listed in the readme.

[2016-11-02 23:32] #1283 closed

[2016-11-02 23:32] ljharb commented on #1277
@mitermayer can you also go through the same steps above and see if you get the same or different results?

[2016-11-03 00:49] toutoudnf commented on #1283
@ljharb thank u very much:)

[2016-11-03 08:51] ilkka opened #1284 "`nvm install --reinstall-packages-from` uses aliased `cd`"
I'm using zsh and [b4b4r07/enhancd](https://github.com/b4b4r07/enhancd) and therefore have the alias `cd=__enhancd::cd` in my shell. This morning I installed v6.9 with

[code]

and either just before or after outputting

[code]

I noticed the enhancd UI popping up in the terminal. Dunno what's doing the cd but probably it should take care to use the builtin.

[2016-11-03 09:38] ahennie commented on #1277
@ljharb Sorry, that was .nPmrc. I don't have a .nVmrc-file. It must be sw, not hw related. I got Macbook Pro 15" i7, 16gb RAM, SSD.  What could it be?

[2016-11-03 12:46] tkesgar opened #1285 "Error: EINVAL: invalid argument on Windows Linux Subsystem"
I found these errors when installing nvm on Windows 10 Linux Subsystem. Not too big deal, though, since after running the recommended command `nvm use --delete-prefix v7.0.0`, node and npm work without problems.

[code]

[2016-11-03 17:07] ljharb commented on #1277
@ahennie that should be fast enough. Basically it's that `nvm use` calls into `npm config get prefix`, which is very slow. I'll keep looking into it.

[2016-11-03 17:08] ljharb commented on #1284
Thanks! Fix incoming.

[2016-11-03 17:10] ljharb commented on #1285
Is "Windows Linux Subsystem" the same as "BashOnWindows"?

If so, that looks like a bug in its `mkdir` implementation - you may want to file an issue directly [in their repo](https://github.com/Microsoft/BashOnWindows).

[2016-11-03 17:10] ljharb commented on #1285
What's "Nodist"? Is that your system-installed copy of node?

[2016-11-03 17:46] ljharb commented on #1284
So it turns out I've actually tried this before, and `zsh` craps out with `command cd` - I'll try to use `\cd` and bypass shellcheck.

[2016-11-03 21:10] tkesgar commented on #1285
Yes, it's BashOnWindows.

Nodist is a node version manager, similar with nvm for Windows 10: https://github.com/marcelklehr/nodist. I don't expect

I tested a bit more and found that `npm config list` fails when I am at `/mnt/c/Users/Ted Kesgar` because there is a `.npmrc` file there, supposedly put by Nodist.

[code]

This is as described at https://github.com/creationix/nvm#compatibility-issues.

[2016-11-03 21:44] ljharb commented on #1285
`nvm` is incompatible with npm's "prefix" option - basically, it overwrites the default place global modules are loaded from, and `nvm` needs to manage that path in order to work with nvm's node locations.

[2016-11-03 21:44] #1285 closed

[2016-11-03 22:51] #1284 closed

[2016-11-04 07:34] #1278 closed

[2016-11-04 08:37] #1207 closed

[2016-11-04 08:40] ljharb commented on #1207
The next release of nvm will contain support for an environment variable `$NVM_INSTALL_THIRD_PARTY_HOOK` - put a binary, or a shell function name, and it will be invoked with the following arguments:
 1. full nvm-style version string
 1. "node" or "iojs"
 1. "std" (in the future, perhaps "rc", "nightly", etc)
 1. "binary" or "source"
 1. path to the directory in which to install the version

If it

[2016-11-04 08:46] ljharb commented on #1009
I'm closing this, since the solution to #1207 should work here.

[2016-11-04 08:46] #1009 closed

[2016-11-04 12:20] ahennie commented on #1277
@ljharb thanks. it wasnt slow like this earlier. does the number of global modules affect the speed? other things I can do to speed it up?

[2016-11-04 15:54] njtman commented on #894
I ran into this issue because my corporate proxy was not set.
Exporting the following environment variable fix my problem:
$ export ALL_PROXY=http://proxyhost:port

[2016-11-04 18:13] ljharb commented on #894
i'm not familiar with "ALL_PROXY" nor with what tools respect it - can you clarify?

[2016-11-04 18:13] ljharb commented on #1277
When you say "earlier" do you mean on an earlier version, before I was doing prefix checking? Or do you mean on the same version of nvm?

[2016-11-05 18:32] carlosjs23 commented on #1277
same issue too.

[2016-11-06 10:34] PatateFrite commented on #576
Hi, exactly same issues here. I use El Capitan, and I do  not have any of these bash files. How can I fix this? I am quite new dealing with code. Tried all your solutions anyway, didn't worked. I am not sure if I have to create these bash files myself (and where to put them in that case).
I can not do nvm install node or use nvm command, everytime I have a "command not found" message. If someone c

[2016-11-06 17:45] ljharb commented on #576
@PatateFrite after the `touch` command, rerun the nvm install script (not `npm install` or `npm start`, those are for after you've got node working)

[2016-11-06 17:52] PatateFrite commented on #576
@ljharb yes, it's what I have done several times. I rerun the nvm install script first. Still same problem.

[2016-11-06 17:56] ljharb commented on #576
@PatateFrite ah. `touch ~/.bash_profile` - underscore, not dash.

[2016-11-06 18:07] PatateFrite commented on #576
@ljharb yes...I have done it that way on the terminal :(
once I have done this, and rerun the install script, when I verify, nvm is right there. If I use after that npm install and start, everything goes wrong. No more nvm, and my bash files are nowhere to be found. It's like everything is erased once I start npm....

[2016-11-06 18:18] ljharb commented on #576
@PatateFrite that sounds like it's probably some issue with whatever project defines "npm start" (since that's not an npm thing, that's just npm running a project script). If you file a new issue, we can investigate that separately.

[2016-11-07 07:33] gsabran opened #1290 "npm is only available in interactive shell"
It seems that nvm modifies `~/.bashrc` to load npm and node. This means that non interactive shells that don't run `bashrc` won't have it. For instance I was running a script that calls npm from cron and it was failing because npm was unknown.

[2016-11-07 07:35] ljharb commented on #1290
What would you suggest?

[2016-11-07 08:14] gsabran commented on #1290
I'm not so sure because I'm no unix expert, but I've been discussing this over there: http://unix.stackexchange.com/a/321524/198722 and it seems that `~/.profile` could be a better place.

[2016-11-07 08:26] PeterDaveHello opened #1291 "nvm install may failed with broken cache"
A broken local cache may fail the installation process as below, please note that the output was generated by a **modified** nvm by my patch, for help debug and improve the user experience.

[code]

[2016-11-07 08:30] ljharb commented on #1291
I'm not sure I understand the initial failure - it looks like it downloaded `https://nodejs.org/dist/v5.12.0/node-v5.12.0-linux-x64.tar.xz` but was unable to match the checksum.

What does `nvm debug` print out?

[2016-11-07 08:30] PeterDaveHello opened #1292 "Ask before build from src"
If install failed from binary, like #1291, maybe we should ask the user before directly fallback to build from src since it'll take a very long time and the user may not know what's going on here.

[2016-11-07 08:31] PeterDaveHello commented on #1291
@ljharb I'm going to figure out the download process, something may go wrong there.

The problem can be re-produce by breaking the local cache like `$ echo 123 >> node-v5.12.0-linux-x64.tar.xz`

[2016-11-07 08:45] skeie opened #1293 "Trying to install Node 7 nightly"
Hi,

First off, thanks for nvm. Its an amazing tool!

I just tried to upgrade to Node 7 nightly by following [this](https://medium.com/@poenneby/with-nvm-installed-you-can-do-this-54585c77685c#.a4az5ktgr) and [this](https://blog.risingstack.com/async-await-node-js-7-nightly/#installingnode7)

Which states that this should work with nvm:
`NVM_NODEJS_ORG_MIRROR=https://nodejs.org/download/nightly nv

[2016-11-07 08:57] ljharb commented on #1292
We can't assume an interactive shell; so the only option would be to fail hard when a binary install fails, and require the user to specify `-s`.

I think that the common use case here is ensuring that node ends up being installed, not ensuring that the command ends in a short period of time, and the log output explicitly indicates that it's building from source.

[2016-11-07 08:57] ljharb commented on #1291
All that should do is cause the file to be redownloaded - the way the process was written is that if there's anything wrong with the file, it's just replaced.

[2016-11-07 08:59] ljharb commented on #1293
`nvm` does not currently support nightly builds (and node 7 doesn't have an async/await implementation that anyone should be using yet, and `--harmony` should never be used by anyone).

However, that error output indicates you have a very old version of `nvm` - please install the latest using the curl script in the readme, and you should be all set.

[2016-11-07 09:02] PeterDaveHello commented on #1291
Yes but I found more than that, still digging, will update here later.

[2016-11-07 09:03] skeie commented on #1293
Thanks @ljharb!

[2016-11-07 09:03] #1293 closed

[2016-11-07 09:04] PeterDaveHello commented on #1291
another problem come up here, after the checksum became correct
[code]

[2016-11-07 09:07] PeterDaveHello commented on #1291
oops, the other problem may came from my local patch.

[2016-11-07 09:08] PeterDaveHello commented on #1291
error message without my patch:
[code]

[2016-11-07 09:10] ljharb commented on #1291
ok, so that looks like it might be an issue with `sha256sum` perhaps?

[2016-11-07 09:13] em commented on #926
Same here. Extremely slow. Up to 10 seconds.

[2016-11-07 09:53] PeterDaveHello commented on #1292
Then I'll prefer this option since the common cases will have no problem with binary installation.

[2016-11-07 09:56] PeterDaveHello commented on #1291
@ljharb I guess the problem came from the `-C` option, which will make `curl` trying to "continue" the download process, even on the broken file, however, I didn't find a way to recognize the half-downloading and broken file.

Removal of the broken file could solve this problem, but I also wonder if we need the "continue" option anymore? As local cache will definitely help saving the bandwidth and

[2016-11-07 10:09] ahennie commented on #1277
@ljharb it's hard to say. I installed nvm months ago, but never really used node. However loading the bash has always been fast. I have been coding node a lot more lately, including installing a few global modules, and it suddenly have gotten slower. I also updated to the newest version of nvm, npm and node. Deleted a few global modules now, but it's still slow. So I think the slowness was intrudu

[2016-11-07 15:26] PatateFrite commented on #576
@ljharb sorry, my mistake. It was a problem with the start in the package. Thanks for the help!

[2016-11-07 15:41] michrome commented on #870
For anyone else arriving here from Google. To install the latest LTS release, run `nvm install --lts`.

[2016-11-07 17:22] ljharb commented on #870
Feel free to also click through to #1149 and read all about the feature.

[2016-11-07 17:23] ljharb commented on #1277
It's likely the `npm config get prefix` call then.

[2016-11-07 17:24] ljharb commented on #1292
There are plenty of common cases on platforms that don't have binaries - that's likely why this feature was added many many years ago. What's the actual problem with the fallback?

[2016-11-07 17:38] PeterDaveHello commented on #1292
@ljharb do you mean the platform without binary support? Maybe it could be a different case? My case here is I expect install from binary, however, it failed and turn to install from src, and I never want to install from src unless that's a special situation.

[2016-11-07 19:18] ljharb commented on #1292
Yes, I mean platforms without binary support, where nvm incorrectly detects that a binary might be available.

Why do you want to never install from source?

[2016-11-07 19:19] ljharb commented on #1291
On systems without the ability to verify a sha256 checksum, they still benefit from the `-C` option since we wouldn't be deleting the previous file.

[2016-11-08 01:32] PeterDaveHello commented on #1292
@ljharb since install from src is slow, it's also about habit just like ... FreeBSD guys (or Linux guys in that still, like gentoo or archlinux) would like to build software from src (via posts), but Debian / Ubuntu guys would just like to use apt/apt-get to install software from pre-built binary. If I do not need to change the compilation configs or test some patches, I don't like to install from

[2016-11-08 01:34] PeterDaveHello commented on #1291
The problem here seems to be the auto-detect may not be reliable enough lol... then it caused the continued tar failed...

[2016-11-08 08:09] ljharb commented on #1291
curl's native autodetect for resuming, you mean?

If that's true, then that's a good reason to remove it.

[2016-11-08 08:10] ljharb commented on #1292
I think that the detail of "binary or source" is something that nvm users shouldn't be too concerned with, ideally - you should be able to do `nvm install X`, go make a sandwich, and come back to find version X installed :-)

[2016-11-08 11:45] PeterDaveHello commented on #1292
Okay, I'll respect your choice :)  Thanks.

[2016-11-08 11:45] #1292 closed

[2016-11-08 11:55] PeterDaveHello commented on #1291
Yes, that's for resuming, but it seems to assume any file there with the same filename the same file to download, that's the problem. As we now have cache feature, once the download finished, we could usually use the cached tarball, I think that part helps more than this resuming. BTW, I didn't test the scenario on wget yet.

[2016-11-08 12:02] ahennie commented on #1277
@ljharb suddenly it's faster again. don't know why. but I thought you should know, before you spend to much time on it.

[2016-11-10 07:37] ljharb commented on #1291
If it comes down to it, I'm fine to remove the "resumable" part.

[2016-11-10 11:56] ryankask commented on #1277
I just checked out the latest tag and noticed this. I forget what tag I was previously using but it was in the v0.31 series.

Adding the the `--no-use` fixes the issue.

[2016-11-12 20:17] #1291 closed

[2016-11-13 10:28] GeorgeAdams95 opened #1298 "Add the ability to pass use nvm with 32bit releases as well as 64bit"
It would be really useful if we could use nvm to install 32bit versions of node so that we could make testing quicker.

Perhaps we could pass in a flag to the end like `nvm install 6 -a x86` or something like that?

[2016-11-13 17:28] #1270 closed

[2016-11-13 17:59] ljharb commented on #1298
Any arguments passed after `nvm install -s 6` will be passed through to the configure/make/make install - what command would you use to build a 32 bit version from source?

I'm curious, what's your use case that needs testing of 32 bit versions of node?

[2016-11-13 20:35] PeterDaveHello commented on #902
Start to work on this again.

Now test nodejs v7.1.0 on Debian 8.6 amd64, with 25 threads.
[code]

[code]

Base on this result, we may try to use clang by detecting if clang exists, it'll save our time on the compilation.

[2016-11-13 22:25] PeterDaveHello commented on #1290
@gsabran I guess you can still load nvm before the command of using npm

[2016-11-14 07:26] asalei opened #1302 "Public key signature verification has failed."
~$ wget -qO- https://raw.githubusercontent.com/creationix/nvm/v0
.32.1/install.sh | bash
=> Downloading nvm from git to '/home/tong/.nvm'
=> Cloning into '/home/tong/.nvm'...
fatal: unable to access 'https://github.com/creationix/nvm.git/': gnutls_handsha
ke() failed: Public key signature verification has failed.
Failed to clone nvm repo. Please report this!

[2016-11-14 07:33] ljharb commented on #1302
I have no idea why there'd be any public key signature verification. Have you overridden `git`, or set any custom git configs that would require PGP signatures?

[2016-11-14 08:01] asalei commented on #1302
sudo apt-get remove libgnutls-deb0-28

resolves my problem.

[2016-11-14 08:02] ljharb commented on #1302
Thanks for the followup!

[2016-11-14 08:02] #1302 closed

[2016-11-14 11:28] gibfahn commented on #1298
@ljharb Tends to be supporting people who are still using 32 bit (and debugging 32 bit specific issues).

[2016-11-14 11:31] PeterDaveHello opened #1304 "[Bug] nvm is asking its user to install "N/A""
[code]

[2016-11-14 11:33] gibfahn commented on #1298
@ljharb But wouldn't that mean building from source? The tarballs should be available on [nodejs.org](https://nodejs.org/dist/v6.9.1/node-v6.9.1-linux-x86.tar.xz), so would it be possible to just specify the arch there?

[2016-11-14 11:41] GeorgeAdams95 commented on #1298
so exporting `DESTCPU=$ARCH` does work but it seems slightly unnecessary to be building from source when the community already publish 32 bit tarballs

[2016-11-14 11:46] PeterDaveHello commented on #1272
PR sent in #1306

[2016-11-14 17:56] PeterDaveHello opened #1307 "[Bug] nvm use non-installed iojs will switch to nodejs"
May be related with #1305, as I found this bug when debugging #1305 - `Running "nvm use iojs" uses latest io.js version`
[code]

[2016-11-14 22:20] ljharb commented on #1298
If a binary exists, and you're on that architecture, `nvm` should certainly install it.

However, I'm not sure I see the value in overriding the arch - you're not actually truly testing a 32 bit node unless you're on a 32 bit machine. Isn't that what Docker is for?

[2016-11-14 23:18] gibfahn commented on #1298
@ljharb AFAIK running 32 bit binaries on 64 bit machines is something that people do, for lower memory footprint etc. I _think_ we actually run some tests for some of the 32 bit node binaries on 64 bit machines in Node core (could well be wrong though). I'd certainly say that there's value in having the ability to use a 32-bit binary.

I guess you wouldn't need to specify the arch, just have a "us

[2016-11-14 23:21] ljharb commented on #1298
I'm not yet convinced this should be added, but I'd be happy to review a PR that added that flag.

(To reiterate: if we're not selecting the proper 32-bit binary on any 32-bit systems where it's available, that's a bug, and I'd love a separate issue or PR to fix that)

[2016-11-15 09:55] zeorin commented on #1290
Have you tried sourcing `nvm.sh` at the beginning of your script?

[2016-11-15 16:40] p4ali commented on #1087
Same problem.

**$ sw_vers**
ProductName:	Mac OS X
ProductVersion:	10.11.6
BuildVersion:	15G31

**$ nvm debug**
nvm --version: v0.32.1
$SHELL: /bin/zsh
$HOME: /Users/x208032
$NVM_DIR: '/usr/local/opt/nvm'
$PREFIX: ''
$NPM_CONFIG_PREFIX: ''
nvm current: v7.1.0
which node: $NVM_DIR/versions/node/v7.1.0/bin/node
which iojs: iojs not found
which npm: $NVM_DIR/versions/node/v7.1.0/bin/npm
npm config ge

[2016-11-15 19:02] ljharb commented on #1087
@p4ali `nvm` is not supported via homebrew (as the homebrew formula indicates). `brew uninstall nvm`, and then properly install `nvm` with the curl script in the readme, and your problem should go away.

[2016-11-16 22:58] #1304 closed

[2016-11-17 06:22] PeterDaveHello commented on #1272
@kirkstrobeck would you like to take a look at #1306 see if it helps? Thanks.

[2016-11-17 08:19] #902 closed

[2016-11-17 12:43] kurteknikk commented on #1290
This is the closest that I have come to work around this issue:

[code]

It's no clean version, and you have to specify the correct NODE_PATH, otherwise it doesn't find the modules, but then it works.

I'm still looking for a cleaner way to do this.

[2016-11-17 17:18] ljharb commented on #1290
You definitely should never set NODE_PATH for any reason. Global modules aren't supposed to be requireable.

[2016-11-17 17:47] kurteknikk commented on #1290
I'm not sure why global modules aren't supposed to be requireable, but that might explain why I had to set the NODE_PATH manually for it to work.

[2016-11-17 18:00] ljharb commented on #1290
@kurteknikk global modules are for runnable binaries. Things you require are *dependencies*, and as such, should be specified in your project's `package.json` and installed locally to that project.

[2016-11-18 16:46] yssource opened #1313 "nvm:cd:948: no such file or directory"
`nvm install v7.1.0 --reinstall-packages-from=v6.6.0`

[code]

[2016-11-18 22:36] ljharb commented on #1313
whoa, thanks for the report.

What's the output of `nvm debug`, and of `nvm use 6.6.0 && npm ls -g --depth=0`?

[2016-11-19 02:55] yssource commented on #1313
1. `nvm current`
v6.6.0
2. `nvm debug`

[code]

3. `nvm use 6.6.0 && npm ls -g --depth=0`

[code]

[2016-11-19 04:16] ljharb commented on #1313
@yssource what's in the `...` in the `npm ls -g`? The "extraneous" suggests that the `ls` command is returning nonzero - which means something's messed up with that installation of npm. If that's the case, your best bet is to manually reinstall the global packages you want in `v7.1`, and then `nvm uninstall v6.6.0 && npm install v6.6.0`.

[2016-11-19 06:32] yssource commented on #1313
I don't know why there are so many symbolic links packages on my previous installing. After remove those symbolic links packages, and reinstall them again, my problem about "no such a file or directory" is gone.
![screenshot from 2016-11-19 14-20-26](https://cloud.githubusercontent.com/assets/3756334/20453571/ab114e86-ae64-11e6-8ae8-169f8556e18c.png)

Thanks.

[2016-11-19 06:32] #1313 closed

[2016-11-19 15:23] serbiant opened #1314 "OSX Sierra node installation failed; Checksums does not match."
Hello there,
I'm trying to install node.js using `nvm 0.32.1`. It fails. As you could see from the logs below, it says that checksums are different and the difference is just a slash at the beginning.
``
Tagays-MacBook-Pro:~ serbiant$ nvm i 6
######################################################################## 100.0%
Computing checksum with shasum -a 256
Checksums do not match: '\392e511ca0d62

[2016-11-19 15:32] PeterDaveHello commented on #1314
@serbiant I tried on my Mac and this is the result:
[code]

Would you like to give us your `nvm debug` result?

[2016-11-19 15:34] serbiant commented on #1314
Sure @PeterDaveHello . Here it is:
[code]

[2016-11-19 15:36] PeterDaveHello commented on #1314
Okay, so looks like there is something broken, may be `sed` usage.
Any additional package management tool installed? Like MacPorts or homebrew.

[2016-11-19 15:39] serbiant commented on #1314
@PeterDaveHello thanks for taking a look, just figured that out.
I just didn't copy the second line of the instruction

[code]
Now it works great. Anyway, thanks for the quick help! Closing the issue.

[2016-11-19 15:40] #1314 closed

[2016-11-22 15:58] stephaneeybert commented on #1273
@ljharb I have this issue in this very version of nvm
http://stackoverflow.com/questions/40704814/the-npm-command-is-not-found-in-my-nodejs-docker-container

[2016-11-22 16:56] ljharb commented on #1273
@stephaneeybert `nvm` must be sourced, and `nvm install` ran, in the *same user and profile* that you want to run it in. I don't know much about Docker, but my guess is that the user in the image script isn't the same one in `docker run`.

[2016-11-23 03:16] taozhi8833998 opened #1317 "Using nvm in docker, while binary download failed, trying source."
I using `nvm install v6.9.1` in docker env based on centos 7.0, but I got the following error, I don't want to compile from the source code.  This is the `tar` issue in centos ???  Anyone met this before ???

######################################################################## 100.0%
Computing checksum with sha256sum
Checksums matched!
tar: bin: Directory renamed before its status could be ext

[2016-11-23 04:11] ljharb commented on #1317
What does `nvm debug` output? This does imply that `tar` in centos is not POSIX compliant.

[2016-11-23 04:58] taozhi8833998 commented on #1317
@ljharb after the bug came out, I login to my host, and do it manually with the following step
got the error

- `nvm install v6.9.1`  // this would download the binary `node-v6.9.1-linux-x64.tar.xz` file in `/root/.nvm/.cache/bin`
- `cd /root/.nvm/.cache/bin` // file exists here
- `xz -d node-v6.9.1-linux-x64.tar.xz`  // got node-v6.9.1-linux-x64.tar in current dir
- `tar -xvf node-v6.9.1-linux-x6

[2016-11-23 05:01] ljharb commented on #1317
I'm not familiar with the `tar` error of "Directory renamed before its status could be extracted" - google leads me to https://github.com/coreos/bugs/issues/1095 which suggests it's a common Docker bug.

[2016-11-23 05:15] taozhi8833998 commented on #1317
I have seen it before I asked here, since when I `tar` the binary, it would create symbol link to the bin dir, but what I got is the `npm` under bin dir link to `../lib/node_modules/npm/bin/npm-cli.js`. nvm could solve this ?? or change the binary format? or don't create symbol link ?  before docker could not solve [coreos/bugs#1095](https://github.com/coreos/bugs/issues/1095)

[2016-11-23 05:23] taozhi8833998 commented on #1317
I am not sure wether the symbol link caused the `tar` unsuccessfully problem. you could ignore what have said above. Maybe another way would be founded......, when I solved it, I will post method here...

[2016-11-23 05:59] taozhi8833998 commented on #1317
OK, I using `epel-release` to install nodejs.
@ljharb Thanks for ur help!!

[2016-11-23 05:59] #1317 closed

[2016-11-23 06:51] ORESoftware opened #1318 "Support question on how to support nvm in shebang line"
This works on MacOS

`#!/usr/bin/env node --inspect`

but not on Linux. The error on Linux is:

`/usr/bin/env: node --inspect: No such file or directory`

This error is explained by:

https://bbs.archlinux.org/viewtopic.php?id=168479
http://stackoverflow.com/questions/24548733/how-to-make-a-nodejs-file-executable-with-harmony-option

Now, I need to support different installation locations of Node

[2016-11-23 08:07] stephaneeybert commented on #1273
In a Docker container, by default the user is root. And I'm root indeed in both environments.
Sourcing the nvm doesn't seem to help:
root@60446f9286d0:/# . ~/.nvm/nvm.sh;
root@60446f9286d0:/# . ~/.nvm/nvm.sh; npm -i
bash: npm: command not found
root@60446f9286d0:/# . ~/.nvm/nvm.sh; npm install -g npm
bash: npm: command not found

[2016-11-23 09:44] siriusdely commented on #1087
I had this issue as well. Figured out that I had installed `node` via homebrew prior to installing `nvm`.

So the solution was: uninstall homebrew's node, and the issue is fixed.

[2016-11-23 09:46] siriusdely commented on #855
I had this issue as well. Figured out that I had installed `node` via homebrew prior to installing `nvm`.

So the solution was: uninstall homebrew's node, and the issue is fixed.

[2016-11-23 15:45] ljharb commented on #1273
@stephaneeybert can you file a separate issue? This one is for OS X

[2016-11-23 15:46] ljharb commented on #1317
I don't recommend ever using a distro package manager to install node, but glad you have something working.

[2016-11-23 16:35] ljharb commented on #1318
try `#!/usr/bin/env node -- --inspect`.

This isn't an `nvm` issue or question, so I'm going to close it, but feel free to keep responding here.

[2016-11-23 16:35] #1318 closed

[2016-11-23 23:49] Nick011 commented on #1277
Experiencing the same problem. Everything was fine until I upgraded OSX to Sierra a few days ago. Ran brew update and brew upgrade, but it's still slow. `--no-use` Makes it better, but still slightly slower than what it was before I upgraded.

When I run `nvm ls` It takes about  2-3 seconds to start, then lists everything down to `system` then takes 2-3 seconds for every alias after that. Here is

[2016-11-24 04:32] ljharb commented on #1277
@Nick011 `nvm` is not supported via homebrew (the homebrew formula says this when you install it). If you `brew uninstall nvm`, and then install it properly via the curl script in the readme, my suspicion is that it will go much faster.

[2016-11-24 06:12] #1272 closed

[2016-11-24 08:07] stephaneeybert commented on #1273
Oops. My mistake. I will do.

[2016-11-25 09:39] nico1510 commented on #1277
same issue here... `--no-use` fixes it but also fails to load node

[2016-11-25 09:52] gudvinr commented on #860
@alangpierce you can set `NODE_VERSION="$(nvm current)"` after `. "$NVM_DIR/nvm.sh" --no-use`

[2016-11-25 16:43] ljharb commented on #1277
@nico1510 right, the `npm config get prefix` call that `nvm` is making when running `nvm use` is the slowest part. I don't yet have a solution to speed that up.

[2016-11-25 19:45] phestermcs opened #1328 "Can nvm be used to completely isolate node environments with same version numbers?"
Wanting to have completely isolated node environments distinguished by some name, but all potentially using the same version of node. It appears right now nvm just about does that, but only by the version numbers of node.

This would be used to support running certain kinds of concurrent testing on multi-core servers, that would otherwise fail because of some shared global state; for example [node

[2016-11-26 05:20] ljharb commented on #1328
The simple solution to needing multiple installs of node that have the same version number is, to use different `NVM_DIR` folders (and different installations of `nvm`), each with their own copy of the `node` version you want.

[2016-11-27 12:51] jasminecjc opened #1329 "node and npm not found"
I am new to Macos,I already have nvm,and installed node v6.2.0 and set it as default,but i cannot find node and npm,i also set
[code]
in ~/.bashrc and ~/.bash_profile,and print the path
it turns out
[code]
and the problem is
[code]

[2016-11-27 12:52] PeterDaveHello commented on #1329
`nvm debug`?

[2016-11-27 13:07] jasminecjc commented on #1329
@PeterDaveHello
[code]

[2016-11-27 13:08] PeterDaveHello commented on #1329
@jasminecjc what's the nvm version you are using please?

[2016-11-27 13:10] jasminecjc commented on #1329
@PeterDaveHello  0.32.1

[2016-11-27 13:11] PeterDaveHello commented on #1329
@jasminecjc what about the bash version?

[2016-11-27 13:13] jasminecjc commented on #1329
@PeterDaveHello  sorry i don't know how to check the bash version,can you tell?

[2016-11-27 13:13] PeterDaveHello commented on #1329
`bash --version`

[2016-11-27 13:14] jasminecjc commented on #1329
GNU bash, version 3.2.57(1)-release (x86_64-apple-darwin16)
Copyright (C) 2007 Free Software Foundation, Inc.

[2016-11-27 13:15] PeterDaveHello commented on #1329
hmmmm ... it's a very old version builtin MacOS, I'm not sure if `nvm` will work on it, do you have `MacPorts` or `homebrew` which can help you upgrade your bash?

[2016-11-27 13:19] jasminecjc commented on #1329
just mention, someone tell me i should add node path, are you sure it's nothing about the node path?

[2016-11-27 13:21] PeterDaveHello commented on #1329
Since `nvm` is a shellscript running on the shell, in your case, a very old `bash`, I'll guess that it's too old for `nvm` to run properly, so that you don't have the correct PATH.

[2016-11-27 13:26] PeterDaveHello commented on #1329
@jasminecjc if you don't mind, I'll respectfully suggest you install `homebrew` first, install `coreutils` and `bash` via `homebrew`, and try `nvm` again once you installed the new `bash` and restarted the terminal.

[2016-11-27 13:28] jasminecjc commented on #1329
thx,i already have homebrew in my mac,and i am  install bash 4.3 now

[2016-11-27 13:33] jasminecjc commented on #1329
I already hava bash 4.3, should i reinstall nvm first? @PeterDaveHello

[2016-11-27 13:34] PeterDaveHello commented on #1329
@jasminecjc I don't think so, unless you don't even install nvm properly.

[2016-11-27 13:37] jasminecjc commented on #1329
should i restart my mac? because it's still node not found

[2016-11-27 13:38] PeterDaveHello commented on #1329
@jasminecjc you should restart your terminal and make sure you are running the new bash, no need to restart your mac.

[2016-11-27 13:44] jasminecjc commented on #1329
I ensured what you said, and when i run nvm debug,it's still the same, maybe it's other problems

[2016-11-27 13:45] PeterDaveHello commented on #1329
@jasminecjc just asking, does your `echo $BASH_VERSION` shows bash version v4.3?

[2016-11-27 13:47] PeterDaveHello commented on #1329
You need to use `/usr/local/bin/bash` instead of `/bin/bash`

[2016-11-27 13:47] jasminecjc commented on #1329
Oh....you are right,it's still the old version, but when i check `bash --version` it's the new version,so what should i do to update the $BATH_VERSION

[2016-11-27 13:48] PeterDaveHello commented on #1329
@jasminecjc `chsh` can help you change the default version, or, you can just to run `run`, it'll bring to the new one.

[2016-11-27 13:50] PeterDaveHello commented on #1329
Just tested with bash v3.2 on MacOS, looks like it works fine with my old bash, sorry that the bash upgrade didn't help.

[2016-11-27 13:59] jasminecjc commented on #1329
always thx for answer

[2016-11-27 18:31] ljharb commented on #1329
@PeterDaveHello are you sourcing nvm.sh in *both* `bashrc` and `bash_profile`? You should be able to use stock bash; you shouldn't need anything from homebrew.

Can you share the contents of your `~/.bashrc` and `~/.bash_profile` files?

[2016-11-27 18:31] ljharb commented on #1329
@jasminecjc also, how did you install `nvm`?

[2016-11-27 19:10] PeterDaveHello opened #1331 "Create .bashrc automatically if bash found?"
May I send a PR to enable it if no profile been detected but detected bash installed? Thanks.

[2016-11-27 19:14] ljharb commented on #1331
My concern is that different OS versions may have different fallback chains such that creating a `.bashrc` may cause a profile file that was previously being loaded, to not be loaded - or, like on OS X, [`bashrc` is not sourced by default](http://apple.stackexchange.com/questions/119711/why-doesnt-mac-os-x-source-bashrc), so that wouldn't be sufficient.

I feel like monkeying with profile files sh

[2016-11-28 18:28] benatkin commented on #1095
I had nvm, rbenv, and pyenv in my .zshrc. nvm was the slowest.

[2016-11-28 23:44] phestermcs commented on #1328
I think that may work for my purposes. How far does it go in completely isolating node environments? I'm wanting to run a testing program (citgm) on a multicore machine. Or more specifically, what exactly is isolated to each environment besides just the node version? I'm assuming npm's cache? and npm 'global' installs? But maybe not thinks like a system wide tmp directory? thx

[2016-11-28 23:56] ljharb commented on #1328
node, npm, all the npm settings, and npm global installs - the npm cache is per-user, but npm, not nvm, controls that.

[2016-11-28 23:56] ljharb commented on #1328
If you truly want isolation, you should use different user accounts, each with its own installation of `nvm`.

[2016-12-02 09:45] zladuric commented on #1304
@PeterDaveHello should this not appear in nvm 0.32.1? Just pasted this on a fresh server:

    curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash

Restarted the shell, and got the same thing.

[code]

Not a big deal, just wanted to let you know.

[2016-12-02 11:20] PeterDaveHello commented on #1304
@zladuric it'll be after v0.32.1, @ljharb says he'll bump the version this month.

[2016-12-02 11:21] PeterDaveHello commented on #1331
fyi, looks like `rvm` will create `.profile`

[2016-12-03 15:43] PeterDaveHello opened #1339 "How to run the tests locally?"
I tried the instructions as readme says, but there are always errors there like:

 - ✗ "nvm alias" should ensure LTS alias dir exists
 - ✗ Running "nvm uninstall" with incorrect file permissions fails nicely

Tried on Ubuntu 12.04, 14.04 and 16.04, none of them can directly pass the test. Is there anything special need to be setup? Thanks.

[2016-12-03 16:34] ljharb commented on #1339
The tests currently only work in the default location of NVM_DIR, i.e. `$HOME/.nvm`.

Regardless, the nvm dir should not be located in /usr/bin since it's a per-user tool.

[2016-12-03 17:04] PeterDaveHello commented on #1339
yes it's not in /usr/bin, it's under my home directory, I'll try with `$HOME/.nvm`

[2016-12-04 01:12] ljharb commented on #1339
Related: #708, #719, #949, #357, #589.

[2016-12-04 09:09] PeterDaveHello commented on #1339
oops ... so many related issues 😰

[2016-12-04 19:43] PeterDaveHello commented on #1339
still failed lol ...

@ljharb would you like to write a Dockerfile, packer or vargrat template to help build a local development environment can pass the test peoperly? I thought this can help decrease the gap to involve in nvm development :) Many thanks.

[2016-12-04 20:10] ljharb commented on #1339
I'd be happy to review adding one, but I don't use any of those tools myself.

[2016-12-04 20:12] PeterDaveHello commented on #1339
If you can tell me how to setup the environment properly I think I can write at least one of them 😄

[2016-12-04 21:00] PeterDaveHello commented on #1339
I think the problem here is nobody knows how to make it works in a clean environment, even on Travis CI, it can only pass the tests on Ubuntu Precise but can't on Ubuntu Trusty, which makes no sense to me, doesn't it seem to be OS independent? I think we could try to make sure the process on Ubuntu 14.04 about how to build an environment can run the tests.

[2016-12-05 01:01] ljharb commented on #1339
The issue with trusty vs precise is that the generic image on trusty doesn't preinstall many things that `nvm` depends on - the tests should pass without changes on trusty provided that the right dependencies are installed, theoretically.

[2016-12-05 01:17] PeterDaveHello commented on #1339
@ljharb I think I installed the missing packages, the error messages are not come from the missing command or package.

[2016-12-05 01:26] PeterDaveHello commented on #1339
https://travis-ci.org/PeterDaveHelloKitchen/nvm/jobs/179399513

[2016-12-05 04:57] ljharb commented on #1339
`npm` isn't a "missing package" - but yeah I'm not really sure why those fail.

[2016-12-05 09:27] PeterDaveHello commented on #1339
just testing, the test will fail in a strange place without npm package ...

[2016-12-05 14:38] dmitriz opened #1341 "Permission denied when trying to install nvm"
Following
https://github.com/creationix/nvm/blob/master/README.markdown#install-script
and getting errors:
[code]

Tried `chmod a+rwx .` with no avail.
Do I need to change the ownership?
Here is the current setup:
[code]

Also might be related to https://github.com/lukechilds/zsh-nvm/issues/14

[2016-12-05 17:10] ljharb commented on #1341
@dmitriz what does `echo $HOME` print out? (It looks like `/Users/dmitrizaitsev`). What does `whoami` report? Is your user directory perhaps a symlink, or mounted from another volume?

[2016-12-05 20:36] roberttod commented on #977
Rather than installing global modules from an existing node version or sharing global modules between versions, it might be more simple and useful to have a post install hook to install a set of global modules that are regularly used.

Perhaps `nvm install` could just check for a `NVM_POSTINSTALL` env variable, then in my `.bash_profile` I could have
[code]

I regularly update node and I think thi

[2016-12-05 21:00] mightyiam commented on #977
@roberttod big thumb up for that.

[2016-12-05 21:49] ljharb commented on #977
@roberttod that's not a bad idea. I'd be happy to review a PR (with no promises for acceptance) if someone wanted to write one.

[2016-12-06 02:06] martinheidegger commented on #1277
To investigate the performance issues myself, I tried to setup some performance logging in a forked branch:
https://github.com/martinheidegger/nvm/tree/debug/performance

and I also come to the conclusion that the biggest issue is starting node. _(`npm config get prefix` is a node script, as opposed to all the other scripts)_.

[2016-12-06 02:44] tsgan commented on #1207
Sorry for late response.

I think we also need to hook in Uninstall path and in ls-remote path.
Can you make changes accordingly?

thanks a lot,

[2016-12-06 03:04] ljharb commented on #1207
@tsgan can you elaborate on why? You can set `$NVM_NODEJS_ORG_MIRROR` and `nvm ls-remote` will list from your own custom location, and `nvm uninstall` just deletes the folder - the intention is that the nvm version dir should be the only place files are created.

[2016-12-06 03:05] ljharb commented on #1277
@martinheidegger i think you're spot on. If anyone can come up with a way to perfectly emulate `npm config get prefix` without invoking `node` (especially if it can be PRred into `npm` itself so that they'll keep it up to date), that would likely erase most people's performance issues.

[2016-12-06 03:17] w4-sglim commented on #855
For me, it works to re-install node with nvm.

Assume that the version is 6.9.1,

With above command, the warning message is vanished!

[2016-12-06 03:42] martinheidegger commented on #1277
@ljharb I ran another test for the performance of `npm config get prefix` and it seems to have not changed much over the versions: https://gist.github.com/martinheidegger/32d00e90e0163a22a4ffc78df796001e

I opened https://github.com/npm/npm/issues/15149 in order to let the npm team know of this problem as well (with some extended comments).

[2016-12-06 04:56] tsgan commented on #1207
Because we will use binary packages via pkg in FreeBSD and according to http://pkg.freebsd.org the correct packages will be used based on ABI (FreeBSD version and platform):

This server's package sets:

FreeBSD:8:i386 (no longer updated)
FreeBSD:8:amd64 (no longer updated)
FreeBSD:9:i386
FreeBSD:9:amd64
FreeBSD:10:i386
FreeBSD:10:amd64
FreeBSD:11:i386
FreeBSD:11:amd64
FreeBSD:11:aarch64
FreeBSD:1

[2016-12-06 05:54] ljharb commented on #1207
hmm, ok - that's adding a bit more complexity than I'd intended when I [originally asked](https://github.com/creationix/nvm/issues/1207#issuecomment-256862829) if this would work. I'm leaning towards reverting that hook entirely if this is the only way to solve it.

However, for ls-remote, I'd prefer you point users at your own mirror such that it only lists the available versions there. As for un

[2016-12-06 06:07] tsgan commented on #1207
Ok, I will advise it with colleague.

 As for uninstall, in the install hook, after copying the files to the nvm dir, you should be deleting the pkg files - thus needing no cleanup later.

Well, maybe I didn't explain you well. Each node version (package) has own dependencies (libraries, other packages etc.) and those dependencies are installed in separate directory. That is why we need to remove

[2016-12-06 07:30] ljharb commented on #1207
Right - but if you're using `nvm`, 100% of the needed files should live only inside `$NVM_DIR`. Those own dependencies should not be installed in a separate directory.

[2016-12-06 16:25] gatspy commented on #782
when add the --no-use ,how activate node in shell?

[2016-12-06 17:03] ljharb commented on #782
@gatspy you'd then have to manually run `nvm use` when you were ready to use node.

[2016-12-06 23:53] phestermcs commented on #1328
Thanks @ljharb :)

[2016-12-06 23:53] #1328 closed

[2016-12-07 02:53] tsgan commented on #1207
I will think and try a bit current code. I will let you know.

thanks a lot,

[2016-12-07 06:15] gatspy commented on #782
@ljharb tks.  now i use`zsh-nvm` ,this is a great plugin.

[2016-12-07 06:32] tsgan commented on #1207
Quick question, is node v0.10.x or v0.12.x should be installed in nvm home directory (not in versions/node/ directory) ? Which one should be installed in nvm home directory?

[2016-12-07 06:59] ljharb commented on #1207
The install hook is called with the desired version directory - number 5 in https://github.com/creationix/nvm/issues/1207#issuecomment-258372315. That way, the source of truth for that path can be left with `nvm`.

[2016-12-07 08:43] tsgan commented on #1207
Another questions, in order to use $NVM_NODEJS_ORG_MIRROR should we need to create index.tab file like in https://nodejs.org/dist/index.tab ? Is it created manually or is there any tool to create it?

[2016-12-07 08:53] ljharb commented on #1207
Yes, you'd need to create it. node core has a build process to create it, but you'll probably want to create it manually.

[2016-12-07 09:14] tsgan commented on #1207
Ok, it seems just version column works, but is there anywhere to tell to FreeBSD user that iojs versions won't work for FreeBSD?

[2016-12-07 09:15] tsgan commented on #1207
Ah, we can set that to empty also :)

[2016-12-07 13:16] xmeltrut commented on #1255
Installing `xz-utils` does not resolve the issue on CentOS 5. @nbullen can you expand on how you manually did the `unxz`? It's not clear how that would work as part of the nvm install process.

[2016-12-07 14:32] xmeltrut commented on #1255
The error @nbullen describes occurs when you just manually copy the version into your `.nvm` directory.

Here is the `nvm ls` output:

	[vagrant@localhost .nvm]$ nvm ls
	->     v0.10.41
			 v6.9.2
	default -> v0.10.41
	node -> stable (-> v6.9.2) (default)
	stable -> 6.9 (-> v6.9.2) (default)
	iojs -> N/A (default)
	lts/* -> lts/boron (-> N/A)
	lts/argon -> v4.7.0 (-> N/A)

And `which node`

    ~/

[2016-12-07 15:07] adam-moss opened #1344 "npm does not list globally installed modules"
Hi,

`npm list -g` is not showing globally installed modules:

[code]
However there are modules installed (inc. `npm` itself, obviously 😃)
[code]
Debug output
[code]
And `npm outdated -g` does actually work
[code]
Contents of my `.npmrc`
[code]
This is on macOS Sierra (v10.12.1)

[2016-12-07 18:44] ljharb commented on #1344
When this happens, it's a bug in your node installation. The only solution I've found is to completely uninstall that version of node, and reinstall it. It's also possible it's a permissions issue (hopefully you never used `sudo` with any node/npm commands, especially when using `nvm`).

[2016-12-07 19:18] adam-moss commented on #1344
Yeah I've tried the install/uninstall, including a brute force `rm -rf .nvm`.  No joy.

Definitely no `sudo` 👍

[2016-12-07 20:01] adam-moss commented on #1344
Actually after some more digging I think this is a `npm` bug.  I have `NODE_ENV=production` in my environment.  If I remove that it works as expected.  So digging through `ls.js` in npm itself it appears something is going wrong between lines 133 and 145.

[2016-12-07 20:11] ljharb commented on #1344
That makes sense - having NODE_ENV globally set to `production` in a non-production environment seems like it could be problematic.

[2016-12-07 23:21] felquis commented on #85
I tested in OSX, Arch Linux and it works just fine.

[2016-12-08 04:02] ORESoftware opened #1345 "question - how does NVM write to root directories without sudo"
In the readme file for this project, I see:

When you install node.js, you have to use sudo. What I don't understand is that when you install NVM with curl, you don't need root permissions, but NVM seems to write to totally different directories that would seemingly need root permissions to write to.

How does it work?

[2016-12-08 04:22] ljharb commented on #1345
`nvm` stores all of its files in `$NVM_DIR`, which by default is inside of `$HOME` - thus, you have full permissions on its files, and you don't need `sudo` ever.

[2016-12-08 07:23] ORESoftware commented on #1345
ahh, for some reason, I always thought the nvm versions dir was in a root directory, now I see it's in my user directory

[2016-12-08 07:23] #1345 closed

[2016-12-08 09:55] SeerUK commented on #1201
I had this issue, for me it was caused by me deleting node versions provided by NVM without using NVM. I had custom aliases left behind that referenced the versions that I'd deleted. Removing those stale aliases stopped the error from showing up for me.

[2016-12-08 19:40] lexrj opened #1346 "Default NVM_DIR variable not portable between OSes"
Because it is adding variables to `.bashrc`, it should be safe to assume the `$HOME` variable is set. Would it be possible to have the line that is appended to `.bashrc` be `export NVM_DIR="$HOME/.nvm"` to afford portability of profiles between systems?

Noticed this when copying my `.bashrc` from linux to OS X and having the install script fail because it couldn't install the the `NVM_DIR` specif

[2016-12-08 20:08] ljharb commented on #1346
That does seem like a reasonable change.

[2016-12-09 16:17] BanzaiMan opened #1347 "Should exit with nonzero status if command fails"
See https://github.com/travis-ci/travis-ci/issues/7001#issuecomment-266052423 for context.

Currently, when `nvm install` fails, it exits with status 0. This is not optimal for use in scripts where various error recovery should be tried after this failure.

[code]

If breaking the changes is a concern, perhaps we can add a new flag to the commands so that certain failures can cause non-zero exit s

[2016-12-09 16:29] tunnckoCore opened #1349 "Failing on travis ci"
I don't know what's happening, really... It seems it is some travis bug from last day or?

[code]

It fails for all all builds and all nodejs versions. https://travis-ci.org/tunnckoCore/charlike/builds/182634925 for example.

[2016-12-09 16:35] calmdev commented on #1349
It's not failing for me, but the download is extremely slow. Found this issue searching for others with similar issues on travis ci today.

[2016-12-09 16:35] mattfairley commented on #1349
Having a similar issue with node v6.9.2 - occasionally it will succeed after multiple restarts

[2016-12-09 16:39] tunnckoCore commented on #1349
don't know, i'll try

[2016-12-09 16:40] tunnckoCore commented on #1349
Okey, it seems it work after few restarts.

[2016-12-09 16:40] #1349 closed

[2016-12-09 17:38] anaganisk opened #1350 "checksums fail in nvm v0.32.1"
I've noticed that checksums are failing in 0.32.1 with **LTS** releases but when I switched back to <del>0.32.1</del>  0.32.0 it works great. It's weird that its only happening with **LTS** releases only

[2016-12-09 18:16] ljharb commented on #1347
Nope, this is a bug that needs to be fixed.

[2016-12-09 18:26] ljharb commented on #1350
Thanks for the report! You said "switched back to 0.32.1" - do you mean 0.32.0?

Can you provide the console output from `nvm install --lts` on both versions, as well as `nvm debug` output?

[2016-12-09 18:55] anaganisk commented on #1350
Sorry it was a typo yes I meant **0.32.0**
But I guess I figured out the issue, my connection to nodejs was getting reset not sure why since **it was happening only with LTS versions** and since like you mentioned in another issue that "nodejs servers doesn't support resuming" the downloads failed and check sums weren't matching.
Right now the script is working as intended. False Alarm I guess, I

[2016-12-09 18:56] ljharb commented on #1350
No problem, there's been some network issues with nodejs.org today.

[2016-12-09 18:56] #1350 closed

[2016-12-10 02:39] lukechilds commented on #1341
Resolved in https://github.com/lukechilds/zsh-nvm/issues/14, you can close this :)

Not sure exactly what caused the issue but looks like a weird environment issue rather than a problem with `nvm`.

[2016-12-10 12:21] oncletom commented on #860
I totally understand the need to avoid hacky solutions and to cut corners – I guess there are plenty; shells are so versatiles.

Would it be reasonable to know what could help improve solve the problem though? What is the path to resolution?

'cause if using nvm decreases the developer experience in the terminal, it defeats the purpose of the tool itself – and nvm is great so it does not deserve t

[2016-12-11 05:20] ljharb commented on #860
@oncletom very diplomatically said. the main slowdown is `npm config get prefix` - if someone can come up with a reliable way to replicate that without the slowdown, I'd be happy to use that instead. See https://github.com/npm/npm/issues/14458 for some background.

[2016-12-11 05:22] #1341 closed

[2016-12-11 22:27] typeoneerror commented on #1273
N/A poppin up on latest version...

[code]

.nvmrc has

[code]

[2016-12-12 01:17] ljharb commented on #1273
@typeoneerror which `N/A` are you talking about? You don't have any argon or io.js versions installed, according to your `nvm ls` output. Try `nvm install` in that directory to ensure it's installed.

[2016-12-12 10:30] Turbo87 commented on #1347
@ljharb did you see https://github.com/creationix/nvm/pull/1348?

[2016-12-12 18:49] ljharb commented on #1347
@Turbo87 yes, but sometimes people are busy on weekends

[2016-12-12 18:54] Turbo87 commented on #1347
sure, no problem, just wanted to make sure it wasn't overlooked :)

[2016-12-13 01:38] martinheidegger commented on #1277
I opened https://github.com/nodejs/help/issues/396 in order to figure out if Node.js and NPM could share the same logic in order for nvm to not need to rely on Node and/or make NPM faster.

Quoting:

I guess same can be said of nvm?

[2016-12-13 01:58] ljharb commented on #917
`nvm install --lts=argon` or `nvm install lts/argon` should work (the latter only after any `ls-remote` call), so I'm going to close this.

[2016-12-13 01:58] #917 closed

[2016-12-14 06:54] iadaking opened #1351 "something wrong with my install can anyone give me somehelp"
[code]

[2016-12-14 07:02] ljharb commented on #1351
@iadaking `nvm` doesn't use http proxy settings throughout - telling `wget` about your proxy for downloading the install script doesn't tell the *install script itself* to use the proxy internally.

If your proxy isn't set up such that it's transparently applied to all your tools, it won't likely work with nvm.

[2016-12-14 07:02] #1351 closed

[2016-12-14 18:03] PeterDaveHello commented on #1339
Got one point here, the account needs to have sudo permission without password, found some `sudo`s in the tests.

@ljharb would you be happy to help sort this out so that we can make sure contributors can develop faster and more reliable? The current test process that can only run on Travis CI is not that friendly, thanks.

[2016-12-15 06:41] ljharb commented on #1339
There is at least one sudo test; I'd love a way to simulate that without needing full sudoer authentication.

I'd absolutely like to improve the local testing story - it should work in a repo that's not located in `$NVM_DIR`, it should *work*, it shouldn't interfere with an existing `nvm` installation, etc.

[2016-12-15 06:43] PeterDaveHello commented on #1339
Thanks, I appreciate that.

[2016-12-15 14:25] Inndy opened #1352 "Suggestion about slow start problem"
Can you cache things into file for default profile, and don't check everything when nvm start? It's really slow. 😭

[2016-12-15 16:51] ljharb commented on #1352
This is because of `npm config get prefix`. It could be different based on the directory in which it's being ran, so it needs to be checked frequently.

[2016-12-15 16:51] #1352 closed

[2016-12-15 23:29] marcelino-m opened #1353 "have NVM_PATH correct value?"
NVM_PATH has value

[code]

but this file not exist, Is that correct?

Cheers

[2016-12-16 00:01] ljharb commented on #1353
`NVM_PATH` is just an internal variable; it should be local and not exposed (https://github.com/creationix/nvm/commit/359a83e6c59c607e51efd118f4bf8b98313b9149)

What does `nvm ls` and `nvm debug` output? Is there an actual problem you're experiencing, or are you simply wondering about the contents of this env var?

[2016-12-16 00:20] marcelino-m commented on #1353
I need to detect current version of node in my editor, so I look this variable for track this and find correct  node_module/,
but I have to add a "../" string in path to use NVM_PATH
[code]

Which would be a suitable way to find the folder node_module/ for the current version of node?

Cheers!

[2016-12-16 00:22] ljharb commented on #1353
Use `nvm current` to get the current version of node, if you have a shell environment.

[2016-12-16 16:27] babonet13 opened #1354 "/usr/bin/env: node: No such file or directory"
I'm trying to install Node.js on my Netgear ReadyNAS (Architecture = ARM v71) using this method
[code]
But I got an error after the last command
[code]
See complete result
[code]
What am I doing wrong ?
(I already used this method on a x86 64 bit Ubuntu machine and on a Mac Mini ... and it works fine)

[2016-12-16 16:59] ljharb commented on #1354
What does `nvm debug` output? Do you have a `~/.npmrc` file with "prefix" in it? Are you using symlinks for $HOME or $NVM_DIR, perhaps?

[2016-12-16 17:12] marcelino-m commented on #1353
Ok, I am wondering now if  is correct that value of NVM_PATH:
[code]
result is :
[code]
nvm ls:
[code]
And  nvm debug
[code]

Cheers!

[2016-12-16 18:21] reneruiz opened #1355 "nvm alias default stable doesn't persist 'stable' on new shell"
As I understand it, if I want to set a default node version I need to run

`$ nvm alias default stable`

Contents of `$nvm ls`:

[code]

*open new shell*

[code]

[code]

What am I doing wrong?

[2016-12-16 18:41] reneruiz commented on #1355
Resolved by moving the following to the end of .zshrc

[code]

[2016-12-16 18:41] #1355 closed

[2016-12-16 18:46] babonet13 commented on #1354
@ljharb I do not know ... where can I find this ```nvm debug``` ?
I do not have any ```~/.npmrc``` file
I'm not using symlinks for $HOME or $NVM_DIR
[code]

[2016-12-16 18:54] ljharb commented on #1355
Sounds like you have something in your `.zshrc` that's modifying the `PATH`. Glad you figured it out!

[2016-12-16 18:56] ljharb commented on #1353
That doesn't seem correct - i'd expect `node_modules` at the end.

That said, nothing uses `NVM_PATH` so it doesn't really matter if it's broken - `npm root -g` should give you what you want.

[2016-12-16 18:57] ljharb commented on #1353
I've removed `$NVM_PATH` entirely from the next version of `nvm`, so nobody's confused about it.

[2016-12-16 18:57] #1353 closed

[2016-12-16 19:02] ljharb commented on #1354
@babonet13 `nvm` is a sourced shell function, so you just invoke it on a shell prompt.

[2016-12-16 21:33] babonet13 commented on #1354
@ljharb I've got this result
[code]

[2016-12-16 21:34] ljharb commented on #1354
ok, so that's the first problem - you need to make sure you're sourcing `nvm.sh` in your profile file. See "troubleshooting" and "manual install" in the readme.

[2016-12-16 21:35] marcelino-m commented on #1353
Ok!

[2016-12-16 22:38] babonet13 commented on #1354
@ljharb OK here is the result
[code]
[code]
[code]

[2016-12-16 22:47] ljharb commented on #1354
ok, so in that shell (where `nvm` is working), what happens if you do `nvm install node`?

[2016-12-17 02:18] babonet13 commented on #1354
@ljharb Hereafter the result
[code]

[2016-12-17 03:23] ljharb commented on #1354
@babonet13 thanks - i assume `nvm use --delete-prefix node` works fine.

What does `env | grep -i prefix` print out?

[2016-12-17 09:37] babonet13 commented on #1354
@ljharb Hi Jordan, here are the result

[code]
[code]
=> I got "nothing" for this second command !?

[2016-12-17 18:05] ljharb commented on #1354
Hmm, nothing about that seems wrong.

I do see "ReadyNAS" in your prompt - that implies you might have a network-mounted filesystem. Is that the case?

[2016-12-17 19:05] babonet13 commented on #1354
@ljharb My prompt is looking like this

[code]

I do not mount anything ...
... I'm just connecting me (as "admin") to my ReadyNAS with ssh

Do you thinks my problem could come from my ARM (v7.1) architecture ?
[code]

[2016-12-17 20:45] ljharb commented on #1354
ARM might cause an issue with some versions of node, but that wouldn't cause the problem you're seeing.

Can you confirm that if you `nvm use` with `--delete-prefix`, everything works?

[2016-12-17 21:43] babonet13 commented on #1354
@ljharb I think It do not works ... See the result
[code]
[code]
[code]

[2016-12-17 22:05] ljharb commented on #1354
Sorry, I should have been more explicit. Try `nvm use node --delete-prefix`

[2016-12-18 01:36] babonet13 commented on #1354
@ljharb I've got an error as you can see :

[code]

[2016-12-18 05:52] ljharb commented on #1354
I'm pretty stuck here - I'm not sure where that error would be coming from.

Could you try `set -x; nvm use node --delete-prefix`, and share the output?

[2016-12-18 09:38] babonet13 commented on #1354
@ljharb Here is the - very very long - output
[code]

[2016-12-18 14:24] mgol opened #1356 "A misleading 'You need to run "nvm install N/A"' message when trying to use a non-installed version"
This is what happens if you don't have a particular version installed:
[code]
Regardless what you type, that's what you'll get if no version matches the pattern, e.g. `nvm use 6.9.2` when you only have `6.9.1` installed. The `nvm install`-advising message seems to be always wrong.

nvm 0.32.1, macOS 10.12.2 (16C67), built-in ZSH.

[2016-12-18 17:34] ljharb commented on #1356
Thanks! This is fixed by #1305 but not yet released.

[2016-12-18 17:34] #1356 closed

[2016-12-18 17:56] ljharb commented on #1354
OK, so the implication here is that even though `npm` is available, either `node` is not, or, your copy of `npm` is broken. If you try `nvm uninstall node` and `nvm reinstall node`, does it work?

If not, do you have anything at all in your `~/.bashrc` or `~/.bash_profile` that references the `PATH`?

[2016-12-18 18:17] mikedevita commented on #855
uninstalling 6.9.1 and reinstalling doesnt work for me. i  am on ubuntu 16.04.01.

[2016-12-18 18:37] ljharb commented on #855
@mikedevita is your `$HOME` (`/opt/vApps1/home/mhdevita`) being accessed through a symlink or a networked drive by chance?

[2016-12-18 18:38] mikedevita commented on #855
It is an nfs mounted network drive yes.

[logo_326x100]
Mike DeVita
E: mike@relative.media<mailto:mike@relative.media> | C: [602] 541-4137
W: https://relative.media<https://relative.media/>

From: Jordan Harband [mailto:notifications@github.com]
Sent: Sunday, December 18, 2016 11:37 AM
To: creationix/nvm <nvm@noreply.github.com>
Cc: Mike DeVita <mike@relative.media>; Mention <mention@noreply.githu

[2016-12-18 18:50] babonet13 commented on #1354
@ljharb I have this result
[code]

[code]

Here the content of my ```.bashrc```file
[code]

[2016-12-18 19:38] ljharb commented on #1354
The only thing I can think of is that `/usr/bin/env` doesn't work in a typical POSIX-compliant way on your NAS. *After* `nvm use --delete-prefix node`, what does `nvm debug` and `echo $PATH` print out?

[2016-12-18 20:05] babonet13 commented on #1354
@ljharb Here are the results
[code]
[code]

[2016-12-19 00:14] rauliyohmc commented on #1087
I am having exactly the same issue:
- System node and npm completely uninstalled
- macOS Sierra 10.12.1

I installed `nvm` through the install script:
`curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash`
The below lines are properly added into my `bash_profile`
[code]
After that I installed the LTS version (v6.9.2) through nvm:
[code]
Getting this message:

![image

[2016-12-19 02:10] ljharb commented on #1087
@rauliyohmc it's likely because `$HOME` has `Rauliyohmc`, and `npm config get prefix` is reporting `rauliyohmc`. One possible fix is to lowercase your username - are you on a case-insensitive filesystem?

[2016-12-19 05:14] ljharb commented on #1354
I'm mystified. Everything seems to work properly except `npm` itself. I assume you have no `~/.npmrc` file?

[2016-12-19 08:57] babonet13 commented on #1354
@ljharb I'm desperate ... iIt seems to be so closed !
No, have no ```.npmrc```file in my admin ```/home``` ...
FYI, I have also asked the Netgear Ready NAS forum about this problem and it seems to be a question of BLX instruction of the ARM architecture :https://community.netgear.com/t5/Community-Add-ons/How-to-install-Node-js-on-ReadyNAS/m-p/1190851#M5427
Are you agree with this analysis ?

[2016-12-19 09:15] ljharb commented on #1354
Yes, that seems to be the problem indeed. [this](https://community.netgear.com/t5/Using-your-ReadyNAS/Has-anyone-had-any-success-installing-nodejs-on-ReadyNas-104/td-p/963328) implies you unfortunately can't use node on that device.

[2016-12-19 09:15] #1354 closed

[2016-12-19 10:15] babonet13 commented on #1354
@ljharb do you know if there is a mean know if the ARM architecture plan to be supported in the future or if it is definitively "KO"

[2016-12-19 16:34] ljharb commented on #1354
nose definitely supports some ARM devices, but it seems like your device doesn't have an instruction set it needs. I wouldn't be too hopeful.

[2016-12-19 21:09] rgbkrk commented on #1280
As an `nvm` true believer and a lover of `yarn`, I'm disheartened by the stance of `yarn` to [prefer a system wide installation](https://yarnpkg.com/en/docs/install).

[2016-12-19 22:19] rauliyohmc commented on #1087
That was it @ljharb, thanks a lot 🤖

[2016-12-21 01:51] ORESoftware opened #1358 "append to bash_profile"
Looking at the README.md file it says:

Doesn't NVM just append to or create the ~/.bash_profile file? Under what circumstances would the above error happen? Just curious?

[2016-12-21 01:57] ljharb commented on #1358
`nvm` does not create any profile files, since that could be a very intrusive change on a system. It will only append to it if it already exists.

[2016-12-21 01:58] ORESoftware commented on #1358
ehh, I don't personally see it as that intrusive, I totally don't see how it cause any problems to create the .bash_profile file if it doesn not exist

[2016-12-21 02:02] ljharb commented on #1358
The shell decides what to source based on what files *exist* - creating a file can change which files get sourced upon opening a shell.

[2016-12-21 02:30] ORESoftware commented on #1358
Well the problem I am having is this:

export NVM_DIR="/root/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
/usr/src/app/local.sh: line 11: /root/.bash_profile: No such file or directory
EXIT CODE OF CONTAINER RUN =>  1

What do you suggest I do - should I do "RUN touch ~/.bash_profile" before installing NVM, or should I tell NVM to use bashrc instead, what is best course

[2016-12-21 02:34] ORESoftware commented on #1358
=> Close and reopen your terminal to start using nvm or run the following to use it now:

[code]

I guess all I have to do is run the above - do I really need the .bash_profile file at all?

[2016-12-21 03:13] ljharb commented on #1358
You only need a profile file if you want it to automatically source `nvm.sh`. Certainly you can manually run those commands, and `nvm` should work after that in that shell session.

[2016-12-21 05:58] #1358 closed

[2016-12-21 05:58] ORESoftware commented on #1358
thanks, do you mind explaining what this does?

`&& . "$NVM_DIR/nvm.sh" `

[2016-12-21 06:37] ljharb commented on #1358
`a && b` says that if `a` exits zero, evaluate `b`. Since `[ -s "$NVM_DIR/nvm.sh" ]` passes, namely, the file exists - then the shell will run `. "$NVM_DIR/nvm.sh"` (which sources the file.)

[2016-12-21 08:31] ORESoftware opened #1359 "script is failing out after calling code that "loads NVM" after using wget or curl"
I have this bash script:

[code]

you should be able to run it on your system (feel free to sandbox it in a container or something if that suits your fancy).

Anyway, it errors out on the line that says  # SEEMS TO FAIL HERE

Like I was saying earlier on another thread, I don't want this NVM install to be interactive at all....this script is for an automated test. But for some reason when I try to

[2016-12-21 08:33] ljharb commented on #1359
You've got a whole lot of commands strung together with `&&` - how do you know it's failing on that line? Is `whoami` `root` in this scenario? (also `nvm use 6` is redundant after `nvm install 6`)

[2016-12-21 08:35] ORESoftware commented on #1359
this might help, here is the stdio of script

[code]

[2016-12-21 08:37] ORESoftware commented on #1359
It seems like maybe NVM is forcing the process to close somehow? that doesn't make sense. I am not a shell scripting guru.

It's exiting with code = 1, that is for sure

[2016-12-21 08:49] ORESoftware commented on #1359
interesting, I ran this script in a container, vs. running it directly on my machine. It succeeds in a container, but fails when running direct. Not sure why...will investigate. Very strangely, nvm is available at the command line, but if I run the above script it will say, nvm is not an available command.

[2016-12-21 09:01] ORESoftware commented on #1358
Ok well, the original script succeeds in a container and didn't succeed otherwise.

I changed it to this

[code]

and now it works. Seems like it might be problem because if even NVM is already installed reinstalling it with this script seems to break things.

[2016-12-21 09:04] ORESoftware commented on #1358
what might have been happening is that

`export NVM_DIR="/root/.nvm" && [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  &&`

was exiting with a non-zero code...any reasons why that might be?

[2016-12-21 09:09] ljharb commented on #1358
I'm not sure - in typical usage, nothing is ever chained after it.

[2016-12-22 05:23] nathansobo commented on #1280
Agreed. I wonder how `nvm` and `yarn` will interact once `npm install -g` doesn't work anymore. It's currently deprecated.

[2016-12-22 07:13] ORESoftware commented on #1358
yeah, I assume if NVM is already installed then ` . "$NVM_DIR/nvm.sh" `exits with a non-zero exit code, which maybe it shouldn't?

[2016-12-22 07:27] ljharb commented on #1358
It probably should not, that is true. If you could file a new issue with the `set -ex` output of that, that would be very helpful.

[2016-12-22 07:47] ORESoftware commented on #1358
will do

[2016-12-22 12:53] koenpunt commented on #794
Even though nvm support io.js, node-version would still be relevant. And to be fair, nvm stands for "node version manager", and io.js isn't node, it's node compatible. That being said, I think it should be possible to honour `.node-version` for node versions, and maybe then also support `.iojs-version`, if that's still even relevant for someone.

[2016-12-22 16:55] ljharb commented on #794
io.js is node, versions 1-3, after the fact.

You're also missing the most important part, which is "aliases".

[2016-12-22 19:33] koenpunt commented on #794
The purpose of `.node-version` is that you want a static, consistent version. Specifying an alias would defy that purpose.

[2016-12-22 20:07] ljharb commented on #794
I agree - which would mean that `nvm` respecting `node-version` would have to be limited to static versions only.

What do `avn` and `nodenv` support in `node-version` files? If it's just "a static version, with or without a leading `v`" then the possibility still remains open that `nvm` could support that too.

[2016-12-22 20:11] koenpunt commented on #794
nodenv differentiates between node and iojs with definitions like `0.10.36` and `iojs-1.0.0` (as seen in their [README](https://github.com/nodenv/nodenv#choosing-the-node-version)). And it requires that exact version to be installed.
Installing of that version can be done by running `nodenv install` (with the `node-build` plugin added).

[2016-12-22 20:12] koenpunt commented on #794
And that's without a `v` prefix

[2016-12-22 20:13] ljharb commented on #794
Does `nodenv` work if you do have a `v` prefix? (does `rvm` support the `v` in `.ruby-version`?)

[2016-12-22 20:16] koenpunt commented on #794
My assumptions was it wouldn't work with the `v` prefix, but it does:
[code]

[2016-12-22 20:28] ljharb commented on #794
That's encouraging - it means we could support `v1.2.3` or `1.2.3`. I'm hesitant to include the "iojs-" prefix, though, since there's no overlap with node - unless every other node version management tool supported it too.

Either way I've filed https://github.com/nodejs/version-management/issues/13, and I think this issue should be blocked on that.

[2016-12-24 09:50] miqmago opened #1361 "Path confusion"
I've reported https://github.com/phonegap/phonegap-cli/issues/674#issuecomment-269076977 but I think it is more an issue for this repository:

[code]

[2016-12-24 09:51] miqmago commented on #1361
Restarting bash:

[code]

[2016-12-24 18:45] ljharb commented on #1361
What's `echo $PATH` say when `which phonegap` points to the `nvm` one?

Do you have anything in your profile files that might be modifying the `PATH`?

[2016-12-25 14:59] alanguir commented on #1087
I was having the same issue trying to 'purify' my node versions, since I had noticed my 'system' version was pretty old (0.10.x). After uninstalling all version, reinstalling nvm and using it to install now, I was getting the prefix errors.

Doesn't get to the root of the issue, but a fix that worked for me was to install node from the package at nodejs.org. The prefix error goes away if `nvm ls`

[2016-12-25 18:03] mauron85 opened #1362 ""Aliases in subdirectories are not supported" when removing or updating lts/* alias"
Hi there, my issue is that existing alias `lts/*` cannot be changed.

System: macOS 10.12.1
nvm version: 0.32.0

`nvm ls` return follow list of aliases:

[code]

`lts/*` points to uninstalled version lts/argon (v4.7.0).

I would like to change `lts/*` alias to `lts/boron`.

Have tried command:

`nvm alias lts/* lts/boron`

but it returned error:

`Aliases in subdirectories are not supported.`

PS:

[2016-12-25 18:07] PeterDaveHello commented on #1362
@mauron85 what's the environment you are running `nvm` please?

I tested with a clean linux environment without issue:

[code]

[2016-12-25 18:08] mauron85 commented on #1362
@PeterDaveHello Sorry. Just updated original comment.

[2016-12-25 18:10] PeterDaveHello commented on #1362
@mauron85 thanks, one more question, how did you install `nvm`? e.g. the script in readme, or some other package manager?

[2016-12-25 18:12] mauron85 commented on #1362
I've just upgraded to 0.32.1 with curl command form README:
[code]

nvm --version reports 0.32.1 but issue remain.

[2016-12-25 18:15] PeterDaveHello commented on #1362
So did you also install by the same when for the first setup?
Did you ever installed other node versions and then removed it?

I think a quick fix could be like this"
`echo 'lts/boron' > $NVM_DIR/alias/lts/\*`

But I'll like to find out how do we get this problem.

[2016-12-25 18:17] mauron85 commented on #1362
yes, first it was using brew install nvm.

I only installed node version using nvm. I recently only removed lts/4.7.0 argo.

[2016-12-25 18:18] PeterDaveHello commented on #1362
Okay, so the issue here could be: removing lts version didn't remove the broken alias! I'll test it.

[2016-12-25 18:22] PeterDaveHello commented on #1362
hmmm ... by my side, the alias of `nvm/*` always point to `lts/boron` like this:
`lts/* -> lts/boron (-> N/A)`

I wonder if you installed nvm before `lts/boron` released? So that nvm points to `lts/argon`?
So the issue may be: nvm didn't update `lts/*` alias after new lts released.

[2016-12-25 18:25] mauron85 commented on #1362
definetely before.

[2016-12-25 18:25] PeterDaveHello commented on #1362
Okay so that may be the problem, so I think the easiest wordaround is: `echo 'lts/boron' > $NVM_DIR/alias/lts/\*`

[2016-12-25 18:27] mauron85 commented on #1362
`echo 'lts/boron' > $NVM_DIR/alias/lts/\*`

Thank you. That fixed. Not sure if it's relevant, but FYI `.nvm/alias/lts/*` didn't exists. It was created by that echo command. Not

[2016-12-25 18:33] PeterDaveHello commented on #1362
I traced the code in nvm v0.32.1, since you have correct alias of ` lts/boron` and `lts/argon`, which means nvm did update the info via `nvm_ls_remote_index_tab()`, and it will do the alias via:
[code]

I think we don't really have a problem in a clean installed v0.32.1 release, maybe that came from an old version.

[2016-12-25 18:34] mauron85 commented on #1362
Ok. I'm closing this then. Thank you for coop

[2016-12-25 18:34] #1362 closed

[2016-12-25 18:34] Znarkus opened #1363 ""unbound variable" error when running nvm from post-receive hook"
Running `(cd /home/user/app2/2016-12-25-19.28.59 && nvm i && nvm use)`

[code]

I removed this from .bashrc to make sure environment is setup properly.

[code]

Any idea what I'm doing wrong?

[2016-12-25 18:35] PeterDaveHello commented on #1362
Not sure if @ljharb will like to take a look here, so just leave a message here.

[2016-12-25 18:38] PeterDaveHello commented on #1363
I think you didn't provide enough info @Znarkus, what's the define of `post-receive hook` here? What's the shell been using here?

[2016-12-25 18:43] Znarkus commented on #1363
Sorry just upgraded `0.32.0` -> `0.32.1` and the error changed to:

[code]

Post-receive hook:
[code]

Bash is the shell on the local computer I'm doing `git push` from, and bash is the default for the remote user.

[2016-12-25 18:45] PeterDaveHello commented on #1363
@Znarkus would you please how did you install and upgrade `nvm`?

[2016-12-25 18:46] Znarkus commented on #1363
`curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash`

[2016-12-25 19:07] ljharb commented on #1087
@alanguir what's your `nvm debug` print out? You're saying if you uninstall your system version, the prefix error will go away?

[2016-12-25 19:08] ljharb commented on #1362
@mauron85 indeed, you are strictly not allowed to change the lts aliases. They're only managed by `nvm`, and only set based on `nvm ls-remote`.

If you're on v0.32.1, and you run `nvm ls-remote`, the aliases will absolutely be correct after that.

[2016-12-25 19:30] ljharb commented on #1363
@Znarkus what bash options do you have set? what does `nvm debug` output? I see in your hook that you have the `u` and `e` options set, but I'm not able to reproduce these errors with that.

Either way, I can address the `NVM_INSTALL_SUCCESS` and `NVM_FLAVOR` errors.

[2016-12-26 10:15] mauron85 commented on #1362
thank you for explanation. it's much clearer to me now. didn't know that they're special and should not be touched.

[2016-12-26 15:49] Juriy commented on #519
Hello guys, I tried to use the same trick with Node v8, and it didn't work (log output below). I think that NVM is trying to download the wrong file. Is there a way to point NVM to exact version that it should download and install?

[code]

[2016-12-26 17:44] ljharb commented on #1362
No. `lts/*` would be pointing to boron if the latest release (which fixes that bug) had been used to list remote versions.

[2016-12-26 23:46] PeterDaveHello commented on #1362
So this problem came from an earlier release?

[2016-12-27 00:55] ljharb commented on #1362
Yes, see #1268 which was released with v0.32.1.

[2016-12-27 06:43] #1363 closed

[2016-12-27 09:22] miqmago commented on #1361
[code]

Separed:

[code]

[2016-12-27 13:40] ljharb commented on #1361
The nvm paths should be the first ones in your PATH. What's your profile file like? Something is sticking the usr/local paths onto the PATH after nvm is sourced.

[2016-12-27 15:24] miqmago commented on #1361
This is the `.bashrc` for user `miqmago`. The `.nvm` path is not being set by user script, instead of this I can see that `.nvm` path is the last one just before user modifications... Maybe some other script is exporting path in the wrong order? How can I detect it?

[code]

[2016-12-28 11:39] ibqn commented on #284
Does NVM work in git bash on Windows out of the box? Can someone confirm this?

[2016-12-28 13:05] Joris-van-der-Wel commented on #284
The last time I tried, it works properly if you execute the following:
[code]

[2016-12-28 17:22] williamjieh opened #1366 "Everytime when run nvm command, it shows warning message"
- Operating system and version:
macOS 10.12.2
- `nvm debug` output:
<details>

[code]
</details>

- `nvm ls` output:
<details>

[code]
</details>

- How did you install `nvm`? (e.g. install script in readme, homebrew):
zsh-nvm
https://github.com/lukechilds/zsh-nvm

- What steps did you perform?

- What happened?
everytime when I run nvm command , it shows warning message:

[code]
- What did you ex

[2016-12-28 19:03] rainabba commented on #284
Perhaps this issue should be renamed, "Support for Windows CMD/PowerShell" now since at best, WSL will work and at worse, it will present its own set of issues.

[2016-12-28 19:05] ljharb commented on #1366
@williamjieh do you have a `~/.npmrc` file that has a "prefix" set in it? If not, what does `env | grep -i prefix` print out?

[2016-12-28 19:06] ljharb commented on #1361
Absolutely `nvm` is changing the `PATH`, that's its sole method of operation.

What about the `[ -r "/etc/bashrc_$TERM_PROGRAM" ] && . "/etc/bashrc_$TERM_PROGRAM"` line? What files are in `/etc/bashrc_*` and what do they contain?

[2016-12-28 19:09] ljharb commented on #284
- BashOnWindows / Windows Subsystem for Linux should work out of the box - if it does not, it's a bug in that software.
 - `git bash` seems to work as long as `sudo apt-get install git curl wget` is run beforehand.
 - No other windows support from `nvm` is forthcoming, unless #1203 / https://github.com/nodejs/TSC/issues/96 is resolved such that `nvm` enters the node.js foundation.

[2016-12-28 19:37] IonicaBizau opened #1367 "Running this from a child process"
When running `nvm` from a bash script, it simply says:

[code]

Is there any way to fix that?

[2016-12-28 19:45] IonicaBizau opened #1368 "What would be solution to manually running the source command?"
I remember we've talked about this in the past, but isn't there a solution to running manually the `. ~/.nvm/nvm.sh` thing after a fresh install?

[2016-12-28 20:16] miqmago commented on #1361
There is only bashrc_Apple_Terminal:

[code]

[2016-12-28 22:07] ljharb commented on #1361
At this point, I'm not sure *why* the problem has occurred, although it's clear that the order of the paths in `$PATH` is the cause of the problem.

If you alter your `PATH` so that nvm's paths occur before `/usr/local/bin`, then the problem should disappear. Can you confirm that, at the least?

[2016-12-28 22:08] ljharb commented on #1368
See https://github.com/creationix/nvm#manual-install

[2016-12-28 22:08] #1368 closed

[2016-12-28 22:08] ljharb commented on #1367
Re-source `nvm.sh` in the child process.

[2016-12-28 22:08] #1367 closed

[2016-12-28 22:37] miqmago commented on #1361
That's quite strange, right now $PATH is the same as before (the order was fine, if you see, `nvm` was before `/usr/local/bin`), but after deleting `/usr/local/lib/node_modules`, a system reboot and restoring `/usr/local/lib/node_modules`, right now it is getting the correct order...
Maybe you can give some light, if not, will see if after a reboot it is getting wrong paths again...

[2016-12-29 02:10] allonhadaya commented on #570
@koenpunt thanks for the suggestion of using a group to share nvm!

You can source `nvm.sh` automatically for all group members using this system-wide profile script:

[code]

Make sure to substitute `deploy` for whichever group you chose to use.

[2016-12-29 04:33] IonicaBizau opened #1370 "Fails to detect my home folder on macOS"
[code]

- Operating system and version: macOS Sierra

- How did you install `nvm`? (e.g. install script in readme, homebrew): using the curl command

- What steps did you perform? `curl -o- https://raw.githubusercontent.com/creationix/nvm/v0.32.1/install.sh | bash`

- What happened?

It tries to clone it into `/home/ionicabizau` instead of `/Users/ionicabizau`

- Is there anything in any of your p

[2016-12-29 04:35] IonicaBizau commented on #1368
@ljharb Sorry, I was wondering if there is a solution to *not* manually running any command like `source ...`: I'd like to just run one single script that will set up everything, without the need of a manual step.

Currently we have to *manually* load the `nvm.sh` after install.

[2016-12-29 04:37] IonicaBizau commented on #1367
Thanks, that makes sense!

[2016-12-29 05:33] ljharb commented on #1368
You could write such a script for yourself that ran the install command, sourced nvm.sh, and ran `nvm install nodes?

[2016-12-29 08:52] ljharb commented on #1368
You'd need to source `nvm` and optionally run `nvm use` (if sourcing didn't auto-use for you) in every process.

[2016-12-29 08:53] ljharb commented on #1370
There's no real solution here - a previously-configured `NVM_DIR` is an explicit signal to the install script that that's where `nvm` should be installed.

How did you have a previously configured `NVM_DIR` like that, inside `/home`, on a mac?

[2016-12-29 09:02] williamjieh commented on #1366
and I tried command `nvm use --delete-prefix v4.7.0` , now nvm looks work properly, but every time when I open a new tab in terminal, this will print out:
`awk: i/o error occurred while closing /dev/stdin
 source line number 8`

[2016-12-29 09:09] ljharb commented on #1366
Are you using oh-my-zsh, by chance? If so, what does `setopt` print out?

[2016-12-29 09:26] IonicaBizau commented on #1370
@ljharb It was there because I copied the `bashrc` from my Linux machine. Why not using `~/.nvm` everywhere or `$HOME/.nvm`?

[2016-12-29 09:27] IonicaBizau commented on #1368
That's works for my current use-case! Thank you.

[2016-12-29 09:42] ljharb commented on #1370
We could certainly use `$HOME/.nvm` in the profile file - but it's a false assumption that you can naively copy a profile file from one machine to another.

[2016-12-29 09:42] #1370 closed

[2016-12-29 12:36] johannesjo opened #1372 "npm ERR! cb() never called!"
Seemingly  out of nowhere npm install starts throwing the `npm ERR! cb() never called` error, for some packages (angular-cli and autoprefixer-core) but not all (bower and yeoman install fine for example). The versions of npm and node don't seem to matter.

- Operating system and version:
Ubuntu 16.10

- `nvm debug` output:
<details>

[code]
</details>

- `nvm ls` output:
<details>

[code]
</detail